<mat-card [ngClass]="{
  noBoxShadow: viewingIndividualUniversity ? true : false
}" 
  class="matCard">
  <mat-card-header *ngIf="!viewingIndividualUniversity" class="matCardHeader">
    <mat-card-title class="matCardTitle">
      <h1>Current Bursary Allocation and Usage</h1>
    </mat-card-title>
    <mat-card-subtitle class="matCardSubtitle" *ngIf="!error">
      <ng-container *ngIf="userRole !== rolesEnum.dean; else deanSubtitle">
        You have 
        <span id="remainingAmount">{{
          checkDecimals(remainingAmount) | customCurrency
        }}</span>
        remaining to allocate to bursary students.
      </ng-container>
      <ng-template #deanSubtitle>
        This department has 
        <span id="remainingAmount">{{
          checkDecimals(remainingAmount) | customCurrency
        }}</span>
        remaining to allocate to bursary students.
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  
  <p *ngIf="error" class="errors">{{ error }}</p>
  <mat-card-content class="matCardContent" *ngIf="!error">
    <mat-divider
      class="progressBarMatDivider"
      [vertical]="true"
      [ngStyle]="{ width: progressBarMatDivider() }"
      [ngClass]="{
        warnRequested: dividerWidth > 1
      }"
    ></mat-divider>
    <section class="progressBarSection">
      <mat-progress-bar
        mode="determinate"
        [value]="requestedApprovedToTotalRatio"
        class="progressBar"
        [ngClass]="{
          progressBar: requestedApprovedToTotalRatio <= 100,
          giveWarning: checkDecimals(requestedApprovedToTotalRatio) > 100
        }"
      >
      </mat-progress-bar>   
<mat-card-subtitle class="barValues">
        <p class="studentAllocation">
          {{ 0 | customCurrency }}
        </p>
        <p class="totalAllocation">
          {{
            (allocationModel.totalAllocation
              ? checkDecimals(allocationModel.totalAllocation)
              : 0
            ) | customCurrency
          }}
        </p>
      </mat-card-subtitle>
    </section>
  </mat-card-content>
  <mat-grid-list
    *ngIf="(!error && isExpanded) || viewingIndividualUniversity"
    [gridCols]="{ xs: 1, sm: 2, md: 4, lg: 6, xl: 8 }"
    rowHeight="3rem"
    class="matGridList"
  >
    <mat-grid-tile>
      <section class="gridTile">
        <p class="tileAmountDescription gridTileFlex">Total Allocation</p>
        <p class="tileAmount gridTileFlex">
          {{
            (allocationModel.totalAllocation
              ? checkDecimals(allocationModel.totalAllocation)
              : 0
            ) | customCurrency
          }}
        </p>
      </section>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-divider
        [vertical]="true"
        class="matDivider matDividerApproved"
      ></mat-divider>
      <section class="gridTile">
        <p class="tileAmountDescription gridTileFlex">Approved Amount</p>
        <p class="tileAmount gridTileFlex">
          {{ allocationModel.approvedAmount | customCurrency }}
        </p>
      </section>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-divider
        [vertical]="true"
        class="matDivider matDividerRequested"
      ></mat-divider>
      <section class="gridTile">
        <p class="tileAmountDescription gridTileFlex">Requested Amount</p>
        <p *ngIf="totalRequested > 0" class="tileAmount gridTileFlex">
          {{ totalRequested | customCurrency }}
        </p>
        <p
          class="tileAmount gridTileFlex"
          *ngIf="totalRequested === 0 || !totalRequested"
        >
          {{ 0 | customCurrency }}
        </p>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-divider
        [vertical]="true"
        class="matDivider matDividerRemaining"
      ></mat-divider>
      <section class="gridTile">
        <p class="tileAmountDescription gridTileFlex">Remaining Amount</p>
        <p class="tileAmount gridTileFlex">
          {{ checkDecimals(remainingAmount) | customCurrency }}
        </p>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-footer *ngIf="!viewingIndividualUniversity" class="matCardFooter">
    <button
      mat-flat-button
      class="viewMoreButton"
      color="primary"
      (click)="toggleIcon()"
    >
      <mat-icon class="viewMoreButtonIcon" *ngIf="!isExpanded"
        >expand_more</mat-icon
      >
      <mat-icon class="viewMoreButtonIcon" *ngIf="isExpanded"
        >expand_less</mat-icon
      >
    </button>
  </mat-card-footer>
</mat-card>