.container {
  height: calc(100vh - var(--mat-toolbar-standard-height));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.admin-container {
  height: 100vh;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.admin-container.no-flex {
  display: block; 
}

.success-route-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100vh;
  top: calc(-1 * var(--mat-toolbar-standard-height));
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.7);
}

.admin-bg-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.7);
}

.powered-by-bbd-image {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  right: 0;
  max-width: 20rem;
}

.home-page-logo {
  width: 100%;
  max-width: 20rem;
}

@media screen and (max-width: 599px) {
  .container {
    height: calc(100vh - var(--mat-toolbar-mobile-height));
  }

  .admin-container {
    margin-left: 0rem;
  }

  .background-image {
    top: calc(-1 * var(--mat-toolbar-mobile-height));
  }

  .powered-by-bbd-image {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
    max-width: 17rem;
  }
}
