<main 
[ngClass]=" {
  'admin-container' : isLoggedIn && userRole === rolesEnum.admin && !successScreenRoute(), 
  'container' : userRole !== rolesEnum.admin,
  'success-route-container' : userRole === rolesEnum.admin && successScreenRoute(),
  'no-flex': hasAdminContent && userRole === rolesEnum.admin || hasStudentContent && userRole === rolesEnum.student
}"
>
  <img 
  [ngClass]=" isLoggedIn && userRole === rolesEnum.admin ? 'admin-bg-image' : 'background-image' "
  ngSrc="{{ backgroundImageUrl }}"  width="auto" height="auto" placeholder [placeholderConfig]="{blur: false}" priority/>
  <ng-content></ng-content>
  <img
    class="powered-by-bbd-image"
    src="../../../../assets/powered-by-bbd.svg"
  />
</main>