<main class="details-container" *ngIf="details.length > 0; else noDetails">
  <section>
      <section class="table-container">
        <p *ngIf="allTab() && 
                applicationsRoute" class="description"
        >The following applications are in progress.</p>
          <table class="custom-table">
            <thead>
              <ng-container *ngIf="consolidatedView">
                <tr >
                <th>Bursar Full Name</th>
                <th *ngIf="!applicationsRoute">University</th>
                <th>Bursary Amount</th>
                <th *ngIf="allTab() && 
                        applicationsRoute"
                >Bursary Fund</th>
                <th *ngIf="allTab() &&
                        applicationsRoute"
                >Status</th>
                <th *ngIf="!allTab()"></th>
              </tr>
              </ng-container>
              <ng-container *ngIf="!consolidatedView">
                <tr>
                  <th class="bottom-align" >Bursar Full Name</th>
                  <th class="bottom-align" *ngIf="!applicationsRoute">University</th>
                  <th class="bottom-align" *ngIf="eventsRoute">RSVP</th>
                  <th class="bottom-align" *ngIf="eventsRoute">Location</th>
                  <th class="bottom-align" *ngIf="eventsRoute">Dietary Requirements</th>
                  <th class="bottom-align" *ngIf="eventsRoute">Notes</th>
                </tr>
              </ng-container>
            </thead>
            <tbody>
              <ng-container *ngIf="consolidatedView" >
                <tr *ngFor="let detail of detailsAsDetails; let index = index"
                    [ngStyle]="{'border-bottom': (applicationArrayLength && applicationArrayLength - 1 === index) ? 'none' : '1px solid primary'}"
                    [ngClass]="{'no-button-table': allTab()}">
                  <td data-label="Bursar Full Name" >
                  <p class="center-text" >{{ detail.fullName }}</p>
                  </td>
                  <td data-label="University" *ngIf="!applicationsRoute" > {{ detail.universityName }} </td>
                  <td data-label="Bursary Amount" *ngIf="!eventsRoute">  {{ detail.amount | customCurrency }} </td>
                  <td data-label="Bursary Fund" *ngIf="allTab() &&
                          applicationsRoute"
                  > {{ detail.bursaryType }} </td>
                  <td data-label="Status" *ngIf="allTab() &&
                          applicationsRoute"
                  > {{ getCurrentStatus(detail.status) }} </td>

                  <td *ngIf="!allTab()">
                    <section
                      class="button-container"
                    >
                      <button
                        mat-flat-button
                        color="primary"
                        *ngIf="currentTab !== 'Email Failed'"
                        (click)="navigateToDetailsPage(detail.applicationGuid)"
                      >
                        {{ buttonAction.VIEW }}
                      </button>

                      <button
                        mat-flat-button
                        color="primary"
                        *ngIf="currentTab === 'Email Failed'"
                        (click)="navigateToEmailFailed(detail.applicationGuid)"
                      >
                        {{ buttonAction.VIEW }}
                      </button>
                    </section>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="!consolidatedView">
                <tr *ngFor="let detail of detailsAsInvitees; let index = index"
                  [ngStyle]="{'border-bottom': (applicationArrayLength && applicationArrayLength - 1 === index) ? 'none' : '1px solid primary'}"
                >
                  <td data-label="Bursar Full Name">{{ detail.firstName }} {{ detail.surname }}</td>
                  <td data-label="University"> {{ detail.universityName }} </td>
                  <td data-label="RSVP" *ngIf="eventsRoute">{{ detail.rsvp }}</td>
                  <td data-label="Location" *ngIf="eventsRoute">{{ detail.location }}</td>
                  <td data-label="Dietary Requirements" *ngIf="eventsRoute">{{ detail.dietaryRequirements }}<br>{{getAllergies(detail)}}</td>
                  <td data-label="Notes" *ngIf="eventsRoute">{{ getNotes(detail) }}</td>
                </tr>
              </ng-container>              
            </tbody>
          </table>
      </section>
  </section>
</main>
<section class="error-text-container">
  <ng-template #noDetails>
    <p class="error-text">{{ noDetailsMessage }}</p>
  </ng-template>
</section>