<main class="dialogContainer">
  <section class="dialogHeader">
    <h2 mat-dialog-title>{{ dialogTitle }}</h2>
    <p>{{ dialogMetaData }}</p>
  </section>

  <mat-dialog-content class="dialogContent">
    <form [formGroup]="hodForm" class="hodForm">
      <ng-container
        *ngIf="
          (currentTab === tabLabelsEnum.ADMIN &&
            !(dialogTitle === addAdminProfile)) ||
          currentTab === tabLabelsEnum.STUDENT ||
          currentTab === tabLabelsEnum.UNIVERSITY
        "
      >
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('givenName')?.touched &&
            hodForm.get('givenName')?.hasError('required')),
            'errorHodNameFormFields': hodForm.get('givenName')?.touched &&
            hodForm.get('givenName')?.hasError('required')
            }"
        >
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="givenName" />
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('givenName')?.touched &&
          hodForm.get('givenName')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.NAME_REQUIRED }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('surname')?.touched &&
            hodForm.get('surname')?.hasError('required')),
            'errorHodNameFormFields': hodForm.get('surname')?.touched &&
            hodForm.get('surname')?.hasError('required')
            }"
        >
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="surname" />
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('surname')?.touched &&
          hodForm.get('surname')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.SURNAME_REQUIRED }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('emailAddress')?.touched &&
            (hodForm.get('emailAddress')?.hasError('required') || 
            hodForm.get('emailAddress')?.hasError('email'))),
            'errorHodNameFormFields': hodForm.get('emailAddress')?.touched &&
            (hodForm.get('emailAddress')?.hasError('required') || 
            hodForm.get('emailAddress')?.hasError('email'))
            }"
        >
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailAddress" />
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('emailAddress')?.touched &&
          hodForm.get('emailAddress')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.EMAIL_REQUIRED }}
        </mat-error>
        <mat-error *ngIf="hodForm.get('emailAddress')?.touched &&
          hodForm.get('emailAddress')?.hasError('email')
        ">
          {{ errorMessages.INVALID_EMAIL }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="hodNameFormFields"
        >
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNumber" />
        </mat-form-field>
      </ng-container>

      <ng-container
        *ngIf="
          dialogTitle === AdminProfileTitle ||
          (dialogTitle === addAdminProfile && rank === ranksEnum.chief_admin)
        "
      >
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('rank')?.touched &&
            hodForm.get('rank')?.hasError('required')),
            'errorHodNameFormFields': (hodForm.get('rank')?.touched &&
            hodForm.get('rank')?.hasError('required'))
            }"
        >
          <mat-label>Admin rank</mat-label>
          <mat-select formControlName="rank">
            <mat-option *ngFor="let rank of userRanks" [value]="rank">{{
              rank
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('rank')?.touched &&
          hodForm.get('rank')?.hasError('required')"
          class="validationMatErrors">
          {{ errorMessages.RANK_REQUIRED }}
        </mat-error>
      </ng-container>

      <ng-container *ngIf="label === addHod">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="hodNameFormFields"
        >
          <mat-label>University role</mat-label>
          <mat-select
            formControlName="userRole"
            (selectionChange)="onUniversityRoleSelection($event)"
          >
            <mat-option
              *ngFor="let role of universityRoles"
              [value]="role"
              >{{ role }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !((hodForm.get('faculty')?.hasError('required') 
            && hodForm.get('faculty')?.touched)),
            'errorHodNameFormFields': (hodForm.get('faculty')?.hasError('required') 
            && hodForm.get('faculty')?.touched)
            }"
        >
          <mat-label>Faculty</mat-label>
          <mat-select formControlName="faculty">
            <mat-option *ngFor="let faculty of faculties" [value]="faculty">{{
              faculty
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="
          (hodForm.get('faculty')?.hasError('required') &&
          hodForm.get('faculty')?.touched)
        "
        class="validationMatErrors">
          {{ errorMessages.FACULTY_REQUIRED }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !((hodForm.get('department')?.hasError('required') 
            && hodForm.get('department')?.touched) || 
            (hodForm.get('faculty')?.value !== deptFaculty && hodForm.get('department')?.touched)),
            'errorHodNameFormFields': (hodForm.get('department')?.hasError('required') 
            && hodForm.get('department')?.touched) 
            || hodForm.get('faculty')?.value !== deptFaculty
            }"
          *ngIf="universityRole === defaultRole"
        >
          <mat-label>Department</mat-label>
          <mat-select formControlName="department" (selectionChange)="onDepartmentSelection($event)">
            <mat-option
              *ngFor="let department of departments"
              [value]="department.departmentInfo.departmentName"
              >{{ department.departmentInfo.departmentName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="
          (hodForm.get('faculty')?.value !== deptFaculty) &&
          hodForm.get('department')?.touched && 
          hodForm.get('userRole')?.value === defaultRole
        "
        class="validationMatErrors">
          {{ errorMessages.FAC_DEPT_MISMATCH }}
        </mat-error>
        <mat-error *ngIf="
          (hodForm.get('department')?.hasError('required') &&
          hodForm.get('department')?.touched) && 
          hodForm.get('userRole')?.value === defaultRole
        "
        class="validationMatErrors">
          {{ errorMessages.DEPARTMENT_REQUIRED }}
        </mat-error>
      </ng-container>

      <ng-container *ngIf="label === EditDepartment">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="hodNameFormFields"
        >
          <mat-label>{{ label }}</mat-label>
          <input matInput formControlName="Department" />
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="label === AddUniversity">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('University')?.hasError('required') &&
            hodForm.get('University')?.touched),
            'errorHodNameFormFields' : hodForm.get('University')?.hasError('required') && 
            hodForm.get('University')?.touched
          }"
        >
          <mat-label>{{ label }}</mat-label>
          <input
            matInput
            placeholder="Input university"
            formControlName="University"
          />
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('University')?.hasError('required') && 
        hodForm.get('University')?.touched"
        class="validationMatErrors">
          {{ errorMessages.UNIVERSITY_REQUIRED }}
        </mat-error>
      </ng-container>

      <ng-container *ngIf="label === AddDepartment">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('Faculty')?.touched && 
            hodForm.get('Faculty')?.hasError('required')),
            'errorHodNameFormFields': (hodForm.get('Faculty')?.touched && 
            hodForm.get('Faculty')?.hasError('required'))
            }"
        >
          <mat-label>Select a faculty</mat-label>
          <mat-select formControlName="Faculty" (selectionChange)="showFacultyInput($event)">
            <mat-option *ngFor="let faculty of faculties" [value]="faculty">{{
              faculty
            }}</mat-option>
            <mat-option [value]="addFaculty">
              Add faculty
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('Faculty')?.touched && 
          hodForm.get('Faculty')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.FACULTY_REQUIRED }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('addFaculty')?.touched && 
            hodForm.get('addFaculty')?.hasError('required')),
            'errorHodNameFormFields': (hodForm.get('addFaculty')?.touched && 
            hodForm.get('addFaculty')?.hasError('required'))
            }"
          *ngIf = "showAddFaculty"
        >
        <mat-label>Add faculty</mat-label>
          <input matInput formControlName="addFaculty" placeholder="Input faculty"/>
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('addFaculty')?.touched && 
          hodForm.get('addFaculty')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.FACULTY_REQUIRED }}
        </mat-error>

        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('Department')?.touched && 
            hodForm.get('Department')?.hasError('required')),
            'errorHodNameFormFields': (hodForm.get('Department')?.touched && 
            hodForm.get('Department')?.hasError('required'))
            }"
          *ngIf = "label === AddDepartment"
        >
          <mat-label>Add department</mat-label>
          <input matInput formControlName="Department"/>
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('Department')?.touched && 
          hodForm.get('Department')?.hasError('required') &&
          hodForm.get('userRole')?.value === defaultRole
        "
        class="validationMatErrors">
          {{ errorMessages.DEPARTMENT_REQUIRED }}
        </mat-error>
      </ng-container>

      <ng-container *ngIf="label === addHod || label === addAdminProfile">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          [ngClass]="{
            'hodNameFormFields': !(hodForm.get('emailAddress')?.hasError('required') &&
            hodForm.get('emailAddress')?.touched) && !(hodForm.get('emailAddress')?.hasError('email') &&
            hodForm.get('emailAddress')?.touched),
            'errorHodNameFormFields' : (hodForm.get('emailAddress')?.hasError('required') && 
            hodForm.get('emailAddress')?.touched) || (hodForm.get('emailAddress')?.hasError('email') &&
            hodForm.get('emailAddress')?.touched)
          }"
        >
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="emailAddress"/>
        </mat-form-field>
        <mat-error *ngIf="hodForm.get('emailAddress')?.touched && 
          hodForm.get('emailAddress')?.hasError('required')
        "
        class="validationMatErrors">
          {{ errorMessages.EMAIL_REQUIRED }}
        </mat-error>
        <mat-error *ngIf="hodForm.get('emailAddress')?.touched && 
        hodForm.get('emailAddress')?.hasError('email')
        "
        class="validationMatErrors">
          {{ errorMessages.INVALID_EMAIL }}
        </mat-error>
      </ng-container>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="matDialogActions">
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)=" isProfileEdit 
          ? editAdminProfile() 
          : onProfileAddition()"
      [disabled]="(hodForm.valid && 
      (hodForm.get('faculty')?.value === deptFaculty 
      && hodForm.get('userRole')?.value === defaultRole)) ||
      (hodForm.get('userRole')?.value === 'Dean' && hodForm.valid) || 
      (data.editProfileCheck && hodForm.valid) ||
      (hodForm.get('rank')?.value && hodForm.valid && label === addAdminProfile) ||
      (data.addDepartmentCheck && hodForm.valid) ||
      (data.addUniversityCheck && hodForm.valid) ||
      (data.editDepartmentCheck && hodForm.get('Department')?.value) ? false : true"
    >
      {{ action }}
    </button>
  </mat-dialog-actions>
</main>
