.fundAllocationsPrimaryColorItems {
  color: var(--primary-color);
}

.matDialogActionButton {
  border: 1px solid var(--primary-color);
}

.enabledButton {
  color: white;
  background-color: var(--primary-color);
}

.matDialogActions {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.fundAllocationsForm {
  display: flex;
  flex-direction: column;
}

.allocateToFrom {
  font-weight: bold;
}

.allocationsMatDivider {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

.reallocateToFrom {
  font-size: small;
}

.allocationsDetails {
  display: flex;
  justify-content: space-between;
}

.matDialogTitleSection {
  display: flex;
  align-items: center;
}

.move-all,
.matDialogTitle {
  margin: 0;
}

.matDialogTitleSectionItems {
  cursor: pointer;
}

.transferAmountContainer {
  display: flex;
  justify-content: space-between;
}

.transferAmount {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.amount {
  display: flex;
  justify-content: flex-end;

  flex: 1;
}

.move-all-checkbox-section,
.allocationToFromContainer {
  display: flex;
}

.oldNew {
  margin: 0;
}

.oldNewContainer,
.oldNewAmountContainer {
  text-align: right;
}

.oldNewContainer {
  flex: 2;
}

.oldNewAmountContainer {
  flex: 1;
}

.invalidMoveReallocateAmountError {
  color: var(--warn-color);
}

.move-all-checkbox-section {
  justify-content: flex-end;
  align-items: center;
}

.move-all {
  font-weight: bold;
  font-size: small;
}

.allocateFundsFormItems,
.allocateAmount {
  display: flex;
  flex-direction: column;
}

.allocateFundsFormItemsSpan {
  text-align: right;
}

.prefix {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .back {
    margin-bottom: 1.85rem;
  }
}
