main {
  padding: 1rem 6%;
  background-color: var(--accent);
}

main.event-details-container.admin{
  padding: 1rem 1rem 1rem 6rem;
}

main.event-details-container.admin.main-event-review {
  padding: 0;
}

.grey-text {
  text-align: left;
  color: grey;
}

.top-name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rsvp-top-section {
  margin-top: 1rem;
  margin-bottom: 0;
}

.top-event-buttons {
  display: flex;
  gap: 1rem
}

button.cancel-button {
  color: var(--primary-color) !important;
}

.event-photo-container {
  margin: 0;
  .event-photo {
    width: 100%;
    height: 30vh;
  }

  .text {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.back-icon {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  color: var(--primary-color);
}

.back-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.event-name {
  margin-bottom: 0;
}

.event-info-container {
  margin: 1rem 0;
}

.event-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}

.address-info {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1rem;
  margin: 1rem 0;

  & .address-info-item a {
    margin-bottom: 0.7rem;
  }
}

.address-info-item:nth-child(1) { grid-column: 1; grid-row: 1; }
.address-info-item:nth-child(2) { grid-column: 3; grid-row: 1; }
.address-info-item:nth-child(3) { grid-column: 1; grid-row: 2; }
.address-info-item:nth-child(4) { grid-column: 2; grid-row: 2; }
.address-info-item:nth-child(5) { grid-column: 3; grid-row: 2; }

.invitees-card {
  margin: 1rem 0;
}

.meeting-url-item {
  padding: 0.5rem 0 1rem 0;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  main.event-details-container.admin {
    padding: 1rem 0.7rem 1rem 5.6rem;
  }
}

@media screen and (max-width: 600px) {
  main.event-details-container.admin {
    padding: 1rem 0.7rem 1rem 1rem;
  }

  .top-name-section.admin {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .event-info {
    flex-direction: column;
  }

  .address-info {
    display: flex;
    flex-direction: column;
  }
}
