.top-name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -0.5rem;
  }

  .back-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }

  .fullName {
    margin-bottom: 0;
  }

  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #revert-edit{
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  @media screen and (max-width: 850px){
    .header-buttons {
      flex-direction: column;
    }
  }
