h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  font-size: small;
  color: white;
}

.title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin: 0.5rem;
}
.contents-container {
  width: 100%;
  margin: 10%;
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contents {
  width: 22rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

img {
  max-width: 100%;
  margin-bottom: 2rem;
}
