<article
  class="department-container"
  *ngIf="departments.length > 0"
>
  <head class="department-name">
    <h3 id="name">{{ departmentName }}</h3>
    <section *ngIf="tabLabel !== studentLabel" class="icon-container">
      <mat-icon *ngIf="showActions()" (click)="editDepartment(departmentName)" matSuffix class="name-edit">edit</mat-icon>
    <mat-icon *ngIf="showActions()" (click)="deleteDepartment(departmentName)" matSuffix class="name-edit">delete</mat-icon>
    <mat-slide-toggle [checked]="isDepartmentEnabled" *ngIf="canDisableDepartment()" (change)="toogle($event)" color="primary" #toggle></mat-slide-toggle>
    </section>
    
  </head>
  <body class="department-table">
    <app-users-detail-table [dataSource]="dataSource" [tabLabel]="tabLabel" [rank] = "rank" [role]="role"></app-users-detail-table>
    
    <ng-container  *ngIf="(dataSource.length === 0 || !dataSource.length)">
      <mat-divider class="department-div"></mat-divider>
      <section class="empty-newdepartment">
        <p class="department-status">
          {{ emptyListDisplayMessage() }}
        </p>
      </section>
      <mat-divider class="department-div"></mat-divider>
    </ng-container>
  </body>
</article>
<app-loader></app-loader>

