<section class="app-wrapper" *ngIf="!isLoading">
  <main class="events-form-container">
    <section>
      <header class="events-stepper-container">
        <section class="title-section">
          <h1>{{ formTitle.CREATE_EVENT }}</h1>
          <p>{{ formMessages.CREATE_EVENT_FORM_MESSAGE }}</p>
        </section>
        <app-stepper
            #stepperRef
            [context]="StepperContext.CREATE_EVENT"
            [formGroups]="{ eventForm: eventForm }"
            [completedChecks]="{ selectedBursars: selectedBursars.length > 0, providedImage: providedImage() }"
            class="event-stepper"
        ></app-stepper>
      </header>
    </section>
    <article class="event-information">
      <mat-divider class="divider"></mat-divider>
      <ng-container *ngIf="stepperRef.selectedIndex === 0">
        <section class="event-details">
          <h1>{{ formTitle.EVENT_DETAILS }}</h1>
          <p>{{ formMessages.EVENT_DETAILS_INSTRUCTIONS }}</p>
          <app-event-information-form
            [eventForm]="eventForm"
            [locations]="locations"
            [eventTypes]="eventTypes"
            [createAddressForm]="createAddressForm.bind(this)"
            [eventImage]="eventImageData"
            [back]="back"
          ></app-event-information-form>
        </section>
      </ng-container>
      <ng-container *ngIf="stepperRef.selectedIndex === 1">
        <section class="event-invitees">
          <form>
            <section class="add-invitees-container">
              <h1>{{ formTitle.ADD_INVITEES }}</h1>
              <p>{{ formMessages.ADD_INVITEES_INSTRUCTIONS }}</p>
              <mat-form-field
                class="search-box"
                appearance="outline"
                subscriptSizing="dynamic"
              >
                <mat-icon matSuffix>search</mat-icon>
                <mat-label for="name">Search</mat-label>
                <input
                    #searchInput
                    matInput
                    (input)="onSearch(searchInput.value)"
                    placeholder="Search for existing bursars you would like to invite to your event"
                    type="text"
                />
              </mat-form-field>
              <ng-container *ngFor="let group of groupedBursars">
                <app-bursar-tiers
                  [tier]="group.tier"
                  [bursars]="group.bursars"
                  [selectedIds]="selectedBursarIds"
                  (bursarSelected)="onBursarSelected($event)"
                  (bursarDeselected)="onBursarDeselected($event)"
                  (clearSelectedBursars)="clearSelectedBursars($event)"
                ></app-bursar-tiers>
              </ng-container>
            </section>
          </form>
        </section>
      </ng-container>
      <ng-container *ngIf="stepperRef.selectedIndex === 2 && locations.length > 0">
        <section class="event-review">
          <h1>{{ formTitle.REVIEW_EVENT }}</h1>
          <p>{{ formMessages.REVIEW_EVENT_INSTRUCTIONS }}</p>
          <app-event-details
            [previewEvent]="eventForm.getRawValue()"
            [isPreview]="true"
          ></app-event-details>
        </section>
      </ng-container>
    </article>
  </main>
  <footer
    class="footer"
    [ngClass]="{ 'footer-split': stepperRef.selectedIndex !== 0 }"
  >
    <ng-container *ngIf="stepperRef.selectedIndex !== 0">
      <button
        id="back-button"
        mat-flat-button
        color="accent"
        class="footer-buttons back-button"
        (click)="stepperRef.previous(); onBack()"
      >
        {{buttonAction.BACK}}
      </button>
    </ng-container>

    <section class="forward-progress-buttons">
      <button
        id="save-button"
        mat-flat-button
        color="accent"
        class="footer-buttons saveForLater"
        [disabled]="!eventForm.valid"
        (click)="saveEvent()"
        *ngIf="stepperRef.selectedIndex === 0"
      >
        {{buttonAction.SAVEFORLATER}}
      </button>
      <ng-container *ngIf="stepperRef.selectedIndex === 2">
        <button
          id="submit-button"
          mat-flat-button
          color="primary"
          class="footer-buttons"
          (click)="createEvent()"
        >
          {{buttonAction.CREATE_EVENT}}
        </button>
      </ng-container>
      <ng-container *ngIf="stepperRef.selectedIndex !== 2">
        <button
          id="continue-button"
          mat-flat-button
          color="primary"
          class="footer-buttons"
          [disabled]="(
          (stepperRef.selectedIndex === 0 && !providedImage()) ||
          (stepperRef.selectedIndex === 1 && selectedBursars.length === 0)
          )"
          (click)="stepperRef.next();"
        >
          {{buttonAction.CONTINUE}}
        </button>
      </ng-container>
    </section>
  </footer>
</section>
<app-loader></app-loader>
