.dialogHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
h2{
    margin: 0;
    padding: 0;
}
.dialogContainer{
    padding: 1rem;
}
.dialogContent{
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    width: 100%;
}
.matDialogInput{
    width: 100%;

}
.hodForm{
    width: 100%;
}
.hodFormFields{
    width: 100%;
}
.matDialogActions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hodNameFormFields{
    padding-bottom: 1rem;
    width: 100%;
}
.universityFormFields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dialogFields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}
.dialogFields > * {
    flex: 1;
    margin: 0 ; 
}
button{
    border-radius: 0.5rem !important;
}
.requestedChange{
    color: var(--warn-color);
}
@media screen and (max-width: 600px) {
    .dialogFields{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .dialogButtons{
        text-align: right;
    }
    .matDialogActions{
        flex-wrap: nowrap;
    }
    
}