.uploadFilesSection,
.additionalInfoFieldSet {
  border: 1px dashed black;
  border-radius: 0.5rem;
  background-color: white;

  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.uploadFilesSection {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: none;
}


.fileInput {
  display: none;
}

.browseFiles {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

legend {
  margin-left: 0.5rem;
}

.dragToUpload,
.or {
  margin-bottom: 0.5rem;
}

.afterFileSelected {
  flex-wrap: wrap;
  background-color: var(--primary-color);
  color: white;
  margin: 2rem 0;
  padding: 0.03rem 1rem;
  border-radius: 1rem;
}

.attachFile {
  margin-right: 0.2rem;
  transform: rotate(45deg);
}

.close {
  margin-left: 1rem;
}

.close,
.attachFile {
  max-height: 1.5rem;
  max-width: 35%;

  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matChipItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.successfullUpload {
  margin-bottom: -1.2rem;
}

.mat-error {
  padding: 0 1rem;
  font-size: small;
}
