<main>
  <mat-card class="matCard">
    <mat-card-content class="matCardContent">
      <mat-divider
        class="progressBarMatDivider"
        [vertical]="true"
        [ngStyle]="{ width: progressBarMatDivider() }"
        [ngClass]="{
          warnRequested: dividerWidth > 1
        }"
      ></mat-divider>
      <section class="progressBarSection">
        <mat-progress-bar
          mode="determinate"
          [value]="requestedApprovedToTotalRatio"
          class="progressBar"
          [ngClass]="{
            progressBar: requestedApprovedToTotalRatio <= 100,
            giveWarning: requestedApprovedToTotalRatio > 100
          }"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
  </mat-card>
</main>
