<section class="filter-content">
  <mat-form-field appearance="outline" class="search-input">
    <mat-icon matSuffix (click)="submitSearch()">search</mat-icon>
    <mat-label>Student name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Student name"
      #searchBox
      id="search-box"
      [(ngModel)]="searchName"
      (input)="onSearchNameChange()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="university">
    <mat-label>Select University</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let university of universities"
        [value]="university.universityName"
        ngDefaultControl
        (click)="onUniversityChange(university.universityName)"
      >
        {{ university.universityName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="year">
    <mat-label>Year of Study</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let year of years"
        [value]="year"
        [(ngModel)]="searchYear"
        ngDefaultControl
        (click)="onYearChange(year)"
      >
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
