.filter-content {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .filter-content {
    display: flex;
    flex-direction: column;
  }
  .university,
  .search-input {
    margin-bottom: -1.5rem;
  }
}
