.form-container{
 
    padding: 1rem 1rem 1rem 1rem;
}
.title-section{
    width: 40%;
}
.stepper-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-footer-container{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.student-info-more {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-x: hidden;
}

.student-info-item {
    flex: 1 1 calc(50% - 1rem);
}
#no-average{
   display: flex;
}

.amount {
    flex: 1 1 calc(50% - 1.2rem);
}

.grey-text {
    color: grey;
}

.black-text {
    color: black;
}

mat-stepper{
    width: 40%;
}

.year-of-study-field {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.year{
    margin: 0;
    padding: 0;
}