<main class="form-container">
  <section class="form-top-section">
    <header class="stepper-container">
      <section class="title-section">
        <h1>{{dialogTitles.APPLY_TO_RENEW_FUNDING}}</h1>
        <p>
          {{dialogMessages.RENEW_APPLICATION_MESSAGE}}
        </p>
      </section>
      <mat-stepper labelPosition="bottom" class="stepper" #stepper linear>
        <mat-step label="Step 1">
          <ng-template matStepLabel class="ngTemplate">
            <p class="custom-step-label">Step 1</p>
            <p class="application-info">Confirm student</p>
          </ng-template>
        </mat-step>
        <mat-step
          label="Step 2"
          [stepControl]="yearOfStudyFormGroup"
          [completed]="yearOfStudyFormGroup.get('yearOfStudy')"
        >
          <ng-template matStepLabel class="ngTemplate">
            <p class="custom-step-label">Step 2</p>
            <p class="application-info">Select year of bursary</p>
          </ng-template>
        </mat-step>
        <mat-step label="Step 3">
          <ng-template matStepLabel class="ngTemplate">
            <p class="custom-step-label">Step 3</p>
            <p class="application-info">Allocate Funds</p>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </header>

    <article class="information">
      <mat-divider class="divider"></mat-divider>

      <ng-container *ngIf="stepper.selectedIndex === 0">
        <section class="year-of-bursary-container">
          <p class="grey-text">Confirm student details</p>
          <section class="student-info-more">
            <section class="student-info-item">
              <p class="grey-text">Student</p>
              <p class="black-text">{{ applicant.name }}</p>
            </section>
            <section class="amount">
              <p class="grey-text">Bursary Amount</p>
              <p class="black-text">{{ applicant.amount | customCurrency }}</p>
            </section>

            <section class="student-info-item">
              <p class="grey-text">University</p>
              <p>{{ applicant.university }}</p>
            </section>

            <section class="student-info-item">
              <p class="grey-text">Degree</p>
              <p class="black-text">{{ applicant.degreeName }}</p>
            </section>

            <section class="student-info-item">
              <p class="grey-text">Faculty</p>
              <p class="black-text">
                {{ applicant.faculty }}
              </p>
            </section>
            <section class="student-info-item">
              <p class="grey-text">Grade average</p>
              <p class="black-text" *ngIf="applicant.gradeAverage">{{ applicant.gradeAverage }}%</p>
              <section id='no-average' *ngIf="!applicant.gradeAverage">
              <p class="icon">Unable to process document</p>
              <mat-icon
                color="primary"
                aria-label="Info"
                matTooltip="We were unable to calculate the average on this document using our tool, please verify manually"
                >info_outline</mat-icon
          >
        </section>
            </section>
          </section>
        </section>
      </ng-container>

      <ng-container *ngIf="stepper.selectedIndex === 1">
        <section class="year-of-bursary">
          <h3 class= 'year'>Select year of bursary</h3>
          <form [formGroup]="yearOfStudyFormGroup">
            <mat-form-field
              subscriptSizing="dynamic"
              appearance="outline"
              class="year-of-study-field"
            >
              <mat-label for="year">Select year of study</mat-label>
              <mat-select formControlName="yearOfStudy">
                <mat-option *ngFor="let year of yearsOfStudy" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-error
              *ngIf="
                yearOfStudyFormGroup.get('yearOfStudy')?.invalid &&
                (yearOfStudyFormGroup.get('yearOfStudy')?.dirty ||
                  yearOfStudyFormGroup.get('yearOfStudy')?.touched)
              "
            >
              {{errorMessages.YEAR_OF_STUDY}}
            </mat-error>
          </form>
        </section>
      </ng-container>

      <ng-container *ngIf="stepper.selectedIndex === 2">
        <app-allocate-funds
          [applications]="renewApplicationForm"
          [allocationMaximum]="data.maxAmount"
        >
          ></app-allocate-funds
        >
      </ng-container>
    </article>
  </section>
  <mat-divider class="divider"></mat-divider>
  <section class="form-footer-container">
    <button
      id="back-button"
      mat-flat-button
      color="accent"
      class="form-footer-buttons back-button"
      (click)="close()"
    >
      {{buttonAction.CANCEL}}
    </button>

    <ng-container *ngIf="stepper.selectedIndex === 2">
      <button
        id="submit-button"
        mat-flat-button
        color="primary"
        class="form-footer-buttons"
        [disabled]="renewApplicationForm.invalid"
        (click)="submit()"
      >
        {{buttonAction.APPLYTORENEW}}
      </button>
    </ng-container>
    <ng-container *ngIf="stepper.selectedIndex === 1">
      <button
        id="continue-button"
        mat-flat-button
        color="primary"
        class="form-footer-buttons"
        [disabled]="renewApplicationForm.invalid"
        (click)="stepper.next()"
      >
        {{buttonAction.NEXT}}
      </button>
    </ng-container>
    <ng-container *ngIf="stepper.selectedIndex === 0">
      <button
        id="continue-button"
        mat-flat-button
        color="primary"
        class="form-footer-buttons"
        (click)="stepper.next()"
      >
        {{buttonAction.CONFIRMSTUDENTDETAILS}}
      </button>
    </ng-container>
  </section>
</main>
<app-loader></app-loader>
