.dialog-actions{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.action-buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    button{
        margin-left: 0;
    }
}
