  .documentation-container {
    margin-top: 1rem;
  }
  .documentation-divider {
    max-width: 21%;
    margin: 0.5rem 0;
  }
  .invoices-payments {
    font-weight: bold;
    margin: 1rem 0;
  }
  .personal-Info,
  .university,
  .bursary{
    margin-left: 0;
  }
  .student-info-less {
    padding-top: 0.5rem;
  }
  .student-info-more,
  .student-info-less {
    display: flex;
  }
  .student-info-item,
  .amount {
    flex: 1;
  }
  .status {
    flex: 3;
  }
  .university-info {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 960px) {
    .btn-tile {
      min-width: 60%;
    }

    .average {
      gap: 0.5rem;
    }

    .student-info-more,
    .student-info-less {
      flex-wrap: wrap;
    }

    .student-info-item,
    .amount {
      flex: 1 1 35%;
    }
  }
  mat-step-header mat-step-icon {
    display: none !important;
  }

  @media screen and (max-width: 800px) {
    .top-name-section {
      display: flex;
      align-items: center;
    }

    .fullName {
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
      margin-top: 0.5rem;
      text-align: center;
    }
    .bursary {
      margin-top: 1rem;
    }

    main {
      padding: 1rem 4%;
    }
    .documentation-divider {
      min-width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .btn-tile {
      min-width: 100%;
    }

    .average {
      gap: 0.25rem;
    }

    .student-info-more,
    .student-info-less {
      flex-wrap: wrap;
    }

    .student-info-item,
    .amount {
      flex: 1 1 100%;
    }
  }
