.dialog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.dialog-header,
.dialog-actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.dialog-header h2{ 
    margin: 0;
    padding: 0;
}
.dialog-header{
    height: 2rem;
}
.response {
    font-weight: bold;
}
.dialog-content p {
    padding: 0
}
.dialog-content{
    width: 100%;
    padding:1rem 0 ;
  }

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.radio-button {
    margin: 0.313rem;
  }
  .reason-input-field {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }