<main class="dialog-container">
    <section class="dialog-header">
        <h2 mat-dialog-title>{{ data.dialogHeader}}</h2>
        <mat-icon (click)="onCancel()">clear</mat-icon>
    </section>
  <mat-dialog-content class="dialog-content">
    <p *ngIf="!data.dialogHeader.includes(questionnaireTitle)">{{ data.dialogContent}}</p>
    <section *ngIf="data.dialogHeader ==  contractDialogTitle">
      <app-upload-files fieldLabel="contract" (fileEmitter)="setFile($event)" />
    </section>
    <section *ngIf="data.dialogHeader.includes(questionnaireTitle)">
    <p *ngIf="data.dialogContent.length === 0"
    class="response-warning">
        No questionnaire responses found. 
    </p>
    <section *ngFor="let response of data.dialogContent"
    class="responses-questions">
        <p class="question"> {{ response.question }} </p>
        <p class="response"> {{ response.response }} </p> 
    </section>
</section>
<section *ngIf="data.dialogHeader.includes(revertApplicationTitle)">
  <form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-radio-group
      formControlName="revertToStage" 
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      color="primary">
      <mat-radio-button class="radio-button" [value]="option" *ngFor="let option of revertOptions">
        {{ option }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-error *ngIf="form.get('revertToStage')?.hasError('required') && form.get('revertToStage')?.touched" class="matError">
      {{revertStage}}
    </mat-error>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="reason-input-field">
      <mat-label>Input reason</mat-label>
      <input matInput formControlName="reason">
    </mat-form-field>

    <mat-error *ngIf="form.get('reason')?.hasError('required') && form.get('reason')?.touched" class="matError">
      {{revertReason}}
    </mat-error>

  </form>
</section>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions" *ngIf="!data.dialogHeader.includes(questionnaireTitle)">
    <button mat-button color="accent" (click)="onCancel()">{{ data.cancelButtonLabel?  data.cancelButtonLabel:cancelButton}}</button>
    <section>
      <button mat-raised-button color="accent" (click)="contractFailed()" *ngIf="data.dialogHeader ==  contractDialogTitle">
        Contract failed
      </button>
      <button mat-raised-button color="primary" (click)="OnSubmit()"  
      [disabled]="!contractFileUploaded && data.dialogHeader ==  contractDialogTitle || form.invalid && data.dialogHeader.includes(revertApplicationTitle)">
        {{ data.confirmButtonLabel? data.confirmButtonLabel:confirmButton }}
      </button>
    </section>
  </mat-dialog-actions>
</main>