.add-new-candidate {
  width: 100%;
  display: flex;
  justify-content: right;
}

.add-new-candidate-button {
  width: 12rem;
}

.allocate-funds-container {
  width: 100%;
}

.year-of-bursary-container {
  width: 100%;
}
.message-container{
  padding-top: 1rem;
  color: var(--warn-color);
}

@media screen and (max-width: 768px) {
  .application-info {
    display: flex;
    flex-direction: column;
    overflow: visible;
    text-wrap: wrap;
    width:auto;
    font-size: 0.7rem;
  }
}
