<ng-container *ngIf="student && studentDocuments">
    <ng-container *ngIf="hasDocuments(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER)">
      <section class="documentation-buttons contract">
        <p class="invoices-payments contract-heading">Contract</p>
        <app-split-button
          *ngIf="hasMultipleDocuments(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER)"
          [menuItems]="generateButtonMenuItems(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER)"
          [buttonLabel]="splitButtonMainActionLabel" (selected)="onViewDocFromSplitButton(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER, $event)">
                                                                </app-split-button>
        <button
          mat-flat-button
          color="accent"
          *ngIf="!hasMultipleDocuments(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER) && getSingleDocument(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER) as singleContractDoc"
          (click)="onViewSingleDocButtonClick(DOC_CATEGORIES.CONTRACT, CONTRACT_EXPENSE_CATEGORY_IDENTIFIER)">
          View
        </button>
      </section>
      <mat-divider class="documentation-divider"
        *ngIf="hasDocuments(DOC_CATEGORIES.INVOICE) || hasDocuments(DOC_CATEGORIES.PAYMENT)"></mat-divider>
    </ng-container>
  
    <ng-container *ngIf="hasDocuments(DOC_CATEGORIES.INVOICE)"> <p class="invoices-payments section-title">Invoices</p>
        <div *ngFor="let expenseCat of relevantExpenseTypes">
          <ng-container *ngIf="hasDocuments(DOC_CATEGORIES.INVOICE, expenseCat.id)">
            <section class="documentation-buttons expense-types">
              <p class="support-text">
                {{ expenseCat.label }}
                <span *ngIf="expenseCat.id === ExpenseCategory.OTHER && student.otherDescription">
                  ({{ student.otherDescription }})
                </span>
              </p>
              <app-split-button
                *ngIf="hasMultipleDocuments(DOC_CATEGORIES.INVOICE, expenseCat.id)"
                [menuItems]="generateButtonMenuItems(DOC_CATEGORIES.INVOICE, expenseCat.id)"
                [buttonLabel]="splitButtonMainActionLabel"
                (selected)="onViewDocFromSplitButton(DOC_CATEGORIES.INVOICE, expenseCat.id, $event)">
              </app-split-button>
              <button
                mat-flat-button
                color="accent"
                *ngIf="getSingleDocument(DOC_CATEGORIES.INVOICE, expenseCat.id)" 
                (click)="onViewSingleDocButtonClick(DOC_CATEGORIES.INVOICE, expenseCat.id)">
                View 
              </button>
            </section>
          </ng-container>
        </div>
        <mat-divider class="documentation-divider" *ngIf="hasDocuments(DOC_CATEGORIES.PAYMENT)"></mat-divider>
      </ng-container>
    <ng-container *ngIf="hasDocuments(DOC_CATEGORIES.PAYMENT)">
      <p class="invoices-payments section-title">Proof of payments</p>
      <section *ngFor="let expenseCat of relevantExpenseTypes">
        <ng-container *ngIf="hasDocuments(DOC_CATEGORIES.PAYMENT, expenseCat.id)">
          <section class="documentation-buttons expense-types">
            <p class="support-text">
              {{ expenseCat.label }}
              <span *ngIf="expenseCat.id === ExpenseCategory.OTHER && student.otherDescription">
                ({{ student.otherDescription }})
              </span>
            </p>
            <app-split-button
              *ngIf="hasMultipleDocuments(DOC_CATEGORIES.PAYMENT, expenseCat.id)"
              [menuItems]="generateButtonMenuItems(DOC_CATEGORIES.PAYMENT, expenseCat.id)"
              [buttonLabel]="splitButtonMainActionLabel"
              (selected)="onViewDocFromSplitButton(DOC_CATEGORIES.PAYMENT, expenseCat.id, $event)">
            </app-split-button>
            <button
              mat-flat-button
              color="accent"
              *ngIf="!hasMultipleDocuments(DOC_CATEGORIES.PAYMENT, expenseCat.id) && getSingleDocument(DOC_CATEGORIES.PAYMENT, expenseCat.id) as singlePaymentDoc"
              (click)="onViewSingleDocButtonClick(DOC_CATEGORIES.PAYMENT, expenseCat.id)">
              View
            </button>
          </section>
        </ng-container>
      </section>
    </ng-container>
  </ng-container>