.documentation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 21%;
    margin-top: 1rem;
  }

  .support-text {
    display: flex;
    align-items: center;
    color: #212121;
    margin: 0;
    min-width: 45%;
  }