<mat-accordion class="accordion" *ngIf="predictedSpending.applicationsData.length > 0" multi>
    @for(university of getDistinctUniversities(predictedSpending.applicationsData); track university) {
        <mat-expansion-panel class="expansion" class="university-spending-expansion-container">
            <mat-expansion-panel-header>
                <mat-panel-title class="bold expansion-header-wider-item"> {{ university }} </mat-panel-title>
                @for(year of predictedSpending.predictionYears; track year) {
                    <mat-panel-title class="bold expansion-header-item"> {{ getTotalPredictionForYear(applicationsDataByUniversity(university, predictedSpending.applicationsData), year) | customCurrency }}
                    </mat-panel-title>
                }
            </mat-expansion-panel-header>
            <article *ngIf="predictedSpending.predictionYears.length > 0 && predictedSpending.applicationsData.length > 0">
                @for(application of applicationsDataByUniversity(university, predictedSpending.applicationsData); track application; let index = $index) {
                    <section class="predicted">
                        <p class="expansion-header-item name"> {{ application.name }} {{ application.surname }} </p>
                        <p class="expansion-header-item"> ({{ getYearOfStudy(application) }}) </p>
                        @for(year of predictedSpending.predictionYears; track year) {
                            <p class="expansion-header-item">
                                {{ (application.predictedValues[year.toString()]| customCurrency) || '-' }}
                            </p>
                        }
                    </section>
                    <mat-divider class="divider" *ngIf="index <= applicationsDataByUniversity(university, predictedSpending.applicationsData).length"></mat-divider>
                } 
            </article>
            <mat-divider class="divider"></mat-divider>
        </mat-expansion-panel>
    }
</mat-accordion>
