.heading {
  font-size: medium;
  padding: 0.5rem 0;
}

.header {
  padding: 1rem 0;
  flex-wrap: wrap;
}

.heading,
p {
  margin: 0;
  font-size: medium;
}

.bold {
  font-weight: bold;
}

mat-divider {
  background-color: var(--primary-color);
}

.flex {
  display: flex;
}

.flex-item {
  flex-direction: column;
}

.medium {
  flex: 1;
}

.large {
  flex: 2;
}

#matDivider {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  border-radius: 0.5rem;
}

.indian {
  background-color: var(--shade-one);
}

.coloured {
  background-color: var(--shade-two);
}

.white {
  background-color: var(--shade-four);
}

.black {
  background-color: var(--shade-three);
}

.race-details {
  align-items: center;
}

.categories {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0 1rem 0;
}

.small-font {
  font-size: small;
}

.medium-font {
  font-size: medium;
}

span {
  margin-right: 0.25rem;
}

#progressBarMatDivider {
  margin-top: 0;
  height: 1.4rem;
  border-radius: 0.5rem;
  position: relative;
}

.race-percentage-title {
  padding: 0.5rem 0;
}

.divider-bars {
  max-height: 1.4rem;
}

h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .medium, .large {
    flex: 1 1 55%;
  }
  .race-details {
    flex: 1 1 45%;
  }
}