<h1 class="questionnaire-heading">Questionnaire</h1>
<p>Please answer the following questions.</p>
<form [formGroup]="questionnaireForm">
  <ng-container>
    <p class="question">{{ questions[0] ? questions[0]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="text-field">
      <textarea matInput
        formControlName="futureJob">
      </textarea>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('futureJob')?.touched &&
    questionnaireForm.get('futureJob')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container>
    <p class="question">{{ questions[1] ? questions[1]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="response-select">
      <mat-select formControlName="outsideFunding"
      (selectionChange)="onSelectionChange($event, 'outsideFunding')">
        <mat-option [value]="questionnaireOptions.YES">
          {{ questionnaireOptions.YES }}
        </mat-option>
        <mat-option [value]="questionnaireOptions.NO">
          {{ questionnaireOptions.NO }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('outsideFunding')?.touched &&
    questionnaireForm.get('outsideFunding')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container *ngIf="questionnaireForm.get('outsideFunding')?.value === questionnaireOptions.YES">
    <p class="question">{{ questions[2] ? questions[2]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="text-field">
      <textarea matInput
        formControlName="outsideFundingResponse">
      </textarea>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('outsideFundingResponse')?.touched &&
    questionnaireForm.get('outsideFundingResponse')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container>
    <p class="question">{{ questions[3] ? questions[3]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="response-select">
      <mat-select formControlName="itPosition"
      (selectionChange)="onSelectionChange($event, 'itPosition')">
        <mat-option [value]="questionnaireOptions.YES">
          {{ questionnaireOptions.YES }}
        </mat-option>
        <mat-option [value]="questionnaireOptions.NO">
          {{ questionnaireOptions.NO }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('itPosition')?.touched &&
    questionnaireForm.get('itPosition')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container *ngIf="questionnaireForm.get('itPosition')?.value === questionnaireOptions.YES">
    <p class="question">{{ questions[4] ? questions[4]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="text-field">
      <textarea matInput
        formControlName="itPositionResponse">
      </textarea>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('itPositionResponse')?.touched &&
    questionnaireForm.get('itPositionResponse')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>
  
  <ng-container>
    <p class="question">{{ questions[5] ? questions[5]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="response-select">
      <mat-select formControlName="githubProfile"
      (selectionChange)="onSelectionChange($event, 'githubProfile')">
        <mat-option [value]="questionnaireOptions.YES">
          {{ questionnaireOptions.YES }}
        </mat-option>
        <mat-option [value]="questionnaireOptions.NO">
          {{ questionnaireOptions.NO }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('githubProfile')?.touched &&
    questionnaireForm.get('githubProfile')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container *ngIf="questionnaireForm.get('githubProfile')?.value === questionnaireOptions.YES">
    <p class="question">{{ questions[6] ? questions[6]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="text-field">
      <textarea matInput
        formControlName="githubProfileResponse">
      </textarea>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('githubProfileResponse')?.touched &&
    questionnaireForm.get('githubProfileResponse')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container>
    <p class="question">{{ questions[7] ? questions[7]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="response-select">
      <mat-select formControlName="extraCourses"
      (selectionChange)="onSelectionChange($event, 'extraCourses')">
        <mat-option [value]="questionnaireOptions.YES">
          {{ questionnaireOptions.YES }}
        </mat-option>
        <mat-option [value]="questionnaireOptions.NO">
          {{ questionnaireOptions.NO }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('extraCourses')?.touched &&
    questionnaireForm.get('extraCourses')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>

  <ng-container *ngIf="questionnaireForm.get('extraCourses')?.value === questionnaireOptions.YES">
    <p class="question">{{ questions[8] ? questions[8]['question'] : "" }}</p>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="text-field">
      <textarea matInput
        formControlName="extraCoursesResponse">
      </textarea>
    </mat-form-field>
    <mat-error *ngIf="
    questionnaireForm.get('extraCoursesResponse')?.touched &&
    questionnaireForm.get('extraCoursesResponse')?.hasError('required')">
      {{ additionalMessages.REQUIRED_RESPONSE }}
    </mat-error>
  </ng-container>
</form>