.question {
    font-weight: bold;
    margin: 1rem 0 0.25rem 0;
}

.questionnaire-heading {
    margin: 0;
}

.text-field {
    min-width: 100%;
}

.questionnaire-selections {
    max-width: 45%;
}

.response-select {
    min-width: 35%;
}

@media screen and (max-width: 768px) {
    .response-select {
        min-width: 100%;
    }
}