.bold {
  font-weight: bold;
  margin: 0;
}

.expansion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expansion-header-item {
  flex: 1;
}

.expansion-header-wider-item {
  flex: 2;
}

.top-level-divider {
  height: 2px;
}

.divider {
  color: var(--primary-color);
}

h3 {
  margin: 0;
  padding: 0.25rem 0;
}

.expansion-header-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
}

.university-spending-expansion {
  width: 100%;
}
