<mat-accordion *ngIf="predictedSpending.applicationsData.length > 0" class="accordion">
    <mat-expansion-panel class="expansion" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header class="expansion-header">
            <h3 class="bold expansion-header-wider-item"> {{ predictedSpendingHeading }} </h3>
           @for(year of predictedSpending.predictionYears; track year) { <h3 class="bold expansion-header-item"> {{ year }} </h3> }
        </mat-expansion-panel-header>
        <mat-divider class="top-level-divider divider"></mat-divider>
    </mat-expansion-panel>
    <app-university-spending-expansion *ngIf="panelOpenState()" [predictedSpending]="predictedSpending"></app-university-spending-expansion>
</mat-accordion> 