<article class="individualUniversityData" *ngFor="let university of activeUniversitiesFundAllocationsData">
    <p class="activeUniversityName"> {{ university.universityName }} </p>
    <section class="matProgressBarSectionContainer">
      <section [ngStyle]="{ width: university.universityTotalAllocated > 0 ? progressBarSectionWidth(university.universityTotalAllocated) : 0 }" 
        class="matProgressBarSection"
        [ngClass]="{
          displayProgressbarSection: university.universityTotalAllocated === 0 || !university.universityTotalAllocated
        }"
        >
            <mat-divider
              class="progressBarMatDivider"
              [vertical]="false"
              [ngStyle]="{
                width: university.universityTotalAllocated > 0 ? approvedAmountToTotalRatio(university.universityTotalApproved, university.universityTotalAllocated) : 0
              }"
              [ngClass]="{
                warnRequested: ((university.universityTotalApproved / university.universityTotalAllocated) * 100) > 100
              }"
            ></mat-divider>
            <mat-progress-bar
              mode="determinate"
              [value]="university.universityTotalAllocated > 0 ? requestedAmountToTotalRatio(university.universityTotalRequested, university.universityTotalAllocated) : 0"
              class="progressBar"
              [ngClass]="{
                progressBar: (university.universityTotalRequested / university.universityTotalAllocated) * 100 <= 100,
                giveWarning: (university.universityTotalRequested / university.universityTotalAllocated) * 100 > 100
              }" 
            >
            </mat-progress-bar>
      </section>
    </section>
    <p class="totalAllocationSection">
        <span class="totalAllocation">Total Allocation</span>
        <span class="totalAmountAllocated"> {{ checkDecimals(university.universityTotalAllocated) | customCurrency }} </span>
    </p>
    <button class="individualUniverstiyButton" (click)="viewIndividualUniversityFunds(university)" mat-button>
        <mat-icon class="rightArrow">keyboard_arrow_right</mat-icon>
    </button>
</article>


