$custom-light-accent-palette: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #424242,
    700: #424242,
    800: #424242,
    900: #424242,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
    ),
  );

  $custom-light-warn-palette: (
    50: #fde7e6,
    100: #ffc8b9,
    200: #ffa38d,
    300: #ff7d5f,
    400: #ff5d3d,
    500: #ff371b,
    600: #fc3117,
    700: #ee2911,
    800: #e01f0c,
    900: #c80000,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
    ),
  );
