$component-dark-primary-palette: (
  50: #000000,
  100: #000000,
  200: #282728,
  300: #282728,
  400: #2D383A,
  500: #2D383A,
  600: #5A6F75,
  700: #5A6F75,
  800: #DEE2E3,
  900: #DEE2E3,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #9CA9AC,
    700: #9CA9AC,
    800: #000000,
    900: #000000,
  ),
);

$component-dark-accent-palette: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #E8E8E8,
  400: #E8E8E8,
  500: #E8E8E8,
  600: #DEE2E3,
  700: #DEE2E3,
  800: #9CA9AC,
  900: #9CA9AC,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);