$dark-primary-palette: (
  50: #124d37,
  100: #1b6951,
  200: #21795e,
  300: #26896d,
  400: #2a967a,
  500: #3ca68b,
  600: #5ab69e,
  700: #86cbb9,
  800: #b5dfd4,
  900: #e1f2ee,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$dark-accent-palette: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #424242,
  600: #424242,
  700: #424242,
  800: #424242,
  900: #424242,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$dark-warn-palette: (
  50: #c80000,
  100: #e01f0c,
  200: #ee2911,
  300: #fc3117,
  400: #ff371b,
  500: #ff5d3d,
  600: #ff7d5f,
  700: #ffa38d,
  800: #ffc8b9,
  900: #fde7e6,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);