<main
  *ngIf="student"
  class="student-details-container"
  [ngClass]="{ admin: isAdmin }"
>
  <article>
    <section>
      <app-student-details-header
        [student]="student"
        [isAdmin]="isAdmin"
        [applicationGuid]="applicationGuid"
        (goBackClicked)="goBack()"
        (renewApplicationClicked)="renewApplication($event)"
        (terminateBursaryClicked)="terminateBursary()"
      >
      </app-student-details-header>
    </section>
    <section>
      <app-bursar-information [student]="student"></app-bursar-information>
    </section>

    <section *ngIf="isFundSpread == true && administrativeRoles.includes(role)">
      <app-fund-distribution [student]="student"></app-fund-distribution>
    </section>
    <app-personal-details
      [student]="student"
      [applicationGuid]="applicationGuid"
    ></app-personal-details>
    <section class="university-container">
      <app-university-information
        [student]="student"
        [applicationGuid]="applicationGuid"
        (openFileDialog)="
          openFileDialog(
            $event.data,
            $event.documentUrl,
            $event.documentType,
            $event.enableAmend
          )
        "
      >
        <article
          *ngIf="administrativeRoles.includes(role) && showDocumentations"
          Documentation
        >
          <h2>Documentation</h2>
          <mat-divider class="divider"></mat-divider>
        </article>

        <app-student-documentation-management
          documentationContent

          [studentDocuments]="studentDocuments"
          [student]="student"
          [administrativeRoles]="administrativeRoles"
          [userRole]="role"
          (openViewDialog)="
            viewSelected(
              $event.documentCategoryKey,
              $event.expenseCategory,
              $event.selectedDocumentIndex

            )
          "
          (displayError)="displayError($event)"
        ></app-student-documentation-management>

        <app-application-history
          history
          [historyItems]="groupedApplicationHistories"
          *ngIf="
            administrativeRoles.includes(role) &&
            groupedApplicationHistories &&
            groupedApplicationHistories.length > 0
          "
        >
        </app-application-history>
      </app-university-information>
    </section>
  </article>
</main>

<section class="footer" *ngIf="showActions">
  <ng-container *ngIf="!student.invoiceStatus && !fundDistributed()">
    <button
      mat-button
      color="accent"
      class="footer-buttons"
      [ngClass]="
        student.status === documentsStatus.IN_REVIEW ? 'no-border-button' : 'last-btn'
      "
      (click)="amendBursaryAmount()"
    >
      {{ ButtonAction.AMEND_BURSARY_AMOUNT }}
    </button>
  </ng-container>
  <ng-container *ngIf="showApplicationActions">
    <button
      mat-flat-button
      color="accent"
      class="footer-buttons"
      (click)="declineApplication()"
    >
      {{ ButtonAction.DECLINE }}
    </button>

    <button
      mat-flat-button
      color="primary"
      class="footer-buttons"
      (click)="confirmAction()"
    >
      {{ getApplicationActionLabel() }}
    </button>
  </ng-container>
</section>

<app-loader></app-loader>
