<article class="profile-management" [ngClass]="{'admin': isAdmin}">
    <h2 class="profile-management-heading" [ngClass]="{'admin': isAdmin}">
      Profile Management
    </h2>
  
    <section class="tabs-add-button">
        <button 
        mat-flat-button 
        color="primary"
        class="add-university"
        *ngIf="tabLabel === tabLabelsEnum.UNIVERSITY && userRole !== rolesEnum.dean"
        (click)="addUniversity()">
        + Add University
      </button>
      <mat-tab-group 
        mat-stretch-tabs="false"
        mat-align-tabs="start" 
        dynamicHeight 
        animationDuration="0ms"
        (selectedTabChange)="tabChange($event)">
        <mat-tab [label]="tabLabelsEnum.ADMIN" *ngIf="userRank === ranksEnum.chief_admin">
       <app-admin-profile-management [tabLabel]="tabLabel" [role]="userRole"
       [rank]="userRank" [panelsTitle]="panelsTitle"></app-admin-profile-management>
        </mat-tab>
        <mat-tab [label]="userRole === rolesEnum.dean? 'Faculty of '+ userFaculty:tabLabelsEnum.UNIVERSITY">
          <app-university-admin-profiles 
            class="university-profiles" 
            [tabLabel]="tabLabel"
            [universities]="universities" 
            [allUniversities]="allUniversities" 
            [faculties]="faculties" 
            [extraUniversities]="extraUniversities"
            [role]="userRole"
            [rank]="userRank"
            >
          </app-university-admin-profiles>
        </mat-tab>
        <mat-tab [label]="tabLabelsEnum.STUDENT" *ngIf="userRole!==rolesEnum.dean">
          <app-university-admin-profiles 
            class="university-profiles" 
            [tabLabel]="tabLabel"  
            [universities]="universities" 
            [allUniversities]="allUniversities" 
            [faculties]="faculties" 
            [extraUniversities]="extraUniversities"
            [role]="userRole"
            [rank]="userRank"
            >
          </app-university-admin-profiles>
        </mat-tab>
      </mat-tab-group>
    </section>
  </article>
  <app-loader></app-loader>
  