.student-bursaries-info-container {
  background-color: rgba(0, 0, 0, 0.7);;
  border-radius: 1rem;
}

.student-bursary,
.student-Fund-distribution {
  color:white; 
  opacity: 1;
}
.student-bursaries-info,
.student-info-less {
  display: flex;
  margin-bottom: 1rem;
}
.white-text{
    color: white;
    font-weight: 600;
}
.white-small-text, .termsAndConditionsConfirmation {
  color: white;
  font-size: 0.7rem;
  margin: 0;
}
.terms-container {
  display:flex;
  justify-content:center;
  align-items:center
}

.TsCs {
  color: var(--primary-color);
}

@media screen and (max-width: 480px) {

  .student-bursaries-info{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    flex: 1 1 50%;
    margin: 0.5rem 0;
  }

  .student-bursaries-info-container{
    padding: 1rem;
  }

  .white-text{
    color: white;
    margin: 0;
  }
}