<main
 [ngClass]="{ 'student-bursaries-info-container row2': userRole=== rolesEnum.student, 
 'student-info-more row2':userRole !== rolesEnum.student }" *ngIf="student">
  <article> 
    <ng-container >
      <h2  [ngClass]="{ 'student-bursary': userRole=== rolesEnum.student, 
 'bursary':userRole !== rolesEnum.student }">Bursary Information</h2>
      <mat-divider class="divider"></mat-divider>
    <section  class="student-bursaries-info row2">
      <section class="amount">
        <p [ngClass]="getGreyTextClass()">Bursary Amount</p>
        <p [ngClass]="getBlackTextClass()">{{student.amount | customCurrency}}</p>
      </section>
      <section class="status">
        <p [ngClass]="getGreyTextClass()">Status</p>
        <p [ngClass]="getBlackTextClass()">
          {{
            student.status == "Approved" ? invoiceStatus : student.status
          }}
        </p>
      </section>
    </section>
    <mat-grid-list 
    rowHeight="4rem"
    class="custom-grid"
    [gridCols]="{ xs: 1, sm: 2, md: 4, lg: 6, xl: 8 }"
     [ngClass]="{ 'student-bursaries-info row2': userRole === rolesEnum.student, 'student-info-more row2': userRole !== rolesEnum.student }">
      <mat-grid-tile>
        <section class="student-info-item">
          <p [ngClass]="getGreyTextClass()">Year of funding</p>
          <p [ngClass]="getBlackTextClass()">{{student.yearOfFunding}}</p>
        </section>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <section class="student-info-item">
          <p [ngClass]="getGreyTextClass()">Application Date</p>
          <p [ngClass]="getBlackTextClass()">{{student.applicationDate}}</p>
        </section>
      </mat-grid-tile>
          
      <mat-grid-tile *ngIf="userRole !== rolesEnum.student">
        <section class="student-info-item">

          <p [ngClass]="getGreyTextClass()">Approved Date</p>
          <p [ngClass]="getBlackTextClass()">{{student.approvedDate}}</p>
        </section>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <section class="student-info-item" *ngIf="student.commencementDate">
          <p [ngClass]="getGreyTextClass()">Date of Commencement</p>
          <p [ngClass]="getBlackTextClass()">{{student.commencementDate}}</p>
        </section>
      </mat-grid-tile>

    </mat-grid-list>
    
    </ng-container>
    
    <section >
    <h2  [ngClass]="{ 'student-Fund-distribution': userRole=== rolesEnum.student, 
 'Fund-distribution':userRole !== rolesEnum.student }">Fund distribution</h2>
    <mat-divider class="divider"></mat-divider>
    <section class="student-bursaries-info row2" >
    <section class="student-info-item">
      <p [ngClass]="getGreyTextClass()">Tuition</p>
      <p [ngClass]="getBlackTextClass()">{{student.tuition | customCurrency}}</p>
    </section>
    <section class="student-info-item">
      <p [ngClass]="getGreyTextClass()">Accommodation</p>
      <p [ngClass]="getBlackTextClass()">{{student.accommodation | customCurrency}}<p>
    </section>
    <section class="student-info-item">
      <p [ngClass]="getGreyTextClass()">Meals</p>
      <p [ngClass]="getBlackTextClass()">{{student.meals | customCurrency}}</p>
    </section>
    <section class="student-info-item">
      <p [ngClass]="getGreyTextClass()">Other</p>
      <ng-container *ngIf="student.otherDescription; else noDescription">
        <p [ngClass]="getBlackTextClass()">
          {{ student.other | customCurrency }} ({{
            student.otherDescription
          }})
        </p>
      </ng-container>
      <ng-template #noDescription>
        <p  [ngClass]="getBlackTextClass()">
          {{ student.other | customCurrency }}
        </p>
      </ng-template>
    </section>
    </section>
    </section>
    <section class="terms-container">
      <p class="termsAndConditionsConfirmation">
        Please note that all necessary terms and conditions still apply
        <a
          class="TsCs"
          [href]="urls.TERMS"
          target="_blank"
          >Terms and Conditions</a
        >
      </p>
    </section>
  </article>
</main>
