<main
  class="department-allocations-container"
  *ngIf="activeUniversitiesFundAllocationsData"
>
  <section class="department-allocations">
    <app-fund-allocation-filter
      [title]="title"
      (selectionChange)="filter($event)"
      (filterEmission)="receiveFilterEmission($event)"
    ></app-fund-allocation-filter>
    <app-fund-allocation-individual-university
      [activeUniversitiesDepartmentsFundAllocationsData]="departments"
      [activeUniversitiesFundAllocationsData]="
        activeUniversitiesFundAllocationsData
      "
    ></app-fund-allocation-individual-university>
  </section>
</main>
<app-loader></app-loader>
