<main class="dialog-container">
  <section class="dialog-header">
      <h2 mat-dialog-title>{{ data.dialogHeader}}</h2>
      <mat-icon (click)="onCancel()">clear</mat-icon>
  </section>
  <mat-dialog-content class="dialog-content">
    <p>{{ data.dialogContent }}</p>
    <form [formGroup]="applicationStatusForm" class="form">
      <mat-form-field appearance="outline" *ngIf="data.dialogHeader === applicationDeclineTitle">
        <mat-label>Reason</mat-label>
        <mat-select formControlName="declineReason" placeholder="Select a reason">
          <mat-option
            *ngFor="let reason of data.declinedReasons"
            [value]="reason"
          >
            {{ reason }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="data.dialogHeader === terminateBursaryTitle">
        <mat-label>Reason</mat-label>
        <mat-select formControlName="terminateReason" placeholder="Select a reason">
          <mat-option
            *ngFor="let reason of data.declinedReasons"
            [value]="reason"
          >
            {{ reason }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="
        (applicationStatusForm.get('declineReason')?.value === status.OTHER ||
        applicationStatusForm.get('terminateReason')?.value === status.OTHER) &&
        data.dialogHeader !== amendBursaryAmountTitle" appearance="outline">
        <mat-label>Other reason</mat-label>
        <input
          matInput
          formControlName="motivation"
          placeholder="Input reason"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" *ngIf="data.dialogHeader == amendBursaryAmountTitle">
        <span matPrefix id="prefix">R &nbsp;</span>
        <mat-label class="label">Bursary amount</mat-label>
        <input matInput formControlName="amendedAmount" type="number" />
        <mat-error
          *ngIf="applicationStatusForm.get('amendedAmount')?.hasError('required')"
        >
          {{errorMessages.AMOUNT_REQUIRED}}
        </mat-error>
        <mat-error
          *ngIf="applicationStatusForm.get('amendedAmount')?.hasError('min')"
        >
        {{errorMessages.MINIMUM_AMOUNT_REQUIRED + data.minAmount}}
        </mat-error>
        <mat-error
          *ngIf="applicationStatusForm.get('amendedAmount')?.hasError('max')"
        >
          {{errorMessages.MAXIMUM_AMOUNT_REQUIRED + data.maxAmount}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button color="accent" (click)="onCancel()">{{ cancelButton }}</button>
    <button
    mat-raised-button
    color="primary"
    (click)="rejectStudent()"
    [disabled]="isButtonDisabled()"
    >
      {{ confirmButton }}
    </button>
  </mat-dialog-actions>
</main>
