<main class="default-container" *ngIf="allDataAvailable" >
  <article class="onboard-container">
    <header class="onboard-header">
      <h1 class="header">Onboard students</h1>
      <p>Add bbd existing bursars</p>
    </header>

    <section class="add-candidates-container">
      <form
        [formGroup]="additionalInfoApplicationForm"
      >
        <app-additional-information
          [universities]="universities"
          [faculties]="faculties"
          [departments]="departments"
          [degreeList]="degreeList"
          [genders]="genders"
          [titles]="titles"
          [races]="races"
          [bursaryTiers]="bursaryTiers"
          [isOnboarding]="true"
        ></app-additional-information>
      </form>
    </section>

    <footer class="submit-button">
      <button
        mat-flat-button
        color="accent"
        class="add-new-candidate-button"
        [disabled]="!additionalInfoApplicationForm?.valid" 
        (click)="submit()"
      >
        {{ buttonAction.SUBMIT }}
      </button>
    </footer>
  </article>
</main>
<app-loader></app-loader>
