.detail-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.detail-container h3 {
  color: black;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header ul {
  padding-left: 0;
  padding-bottom: 0.5rem;
  width: calc(100% - 6rem);
  font-weight: bold;
}
.header ul li {
  color: #424242;
}
.bursary-details {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid var(--primary-color);
}

.content {
  width: 30%;
}
p.content {
  margin: 0;
}
.larger-content {
  width: 40%;
}

.mobile-view {
  display: none;
}

.details-section {
  width: calc(100% - 6rem);
  display: flex;
  align-items: flex-start;
}
.allocation-detail-container {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .mobile-view {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .detail-row,
  .header {
    display: none;
  }
  .mobile-view h3 {
    color: black;
    width: 80vw;
  }
  .button-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .content {
    font-weight: bold;
    margin: 0;
    width: 33%;
  }
  p.content {
    margin-right: 3%;
    width: 97%;
  }
  .content span {
    color: #424242;
    font-weight: normal;
  }
}

@media screen and (max-width: 650px) {
  .mobile-view {
    flex-direction: column;
  }
  .details-section {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .details-section {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
}
