<main class="details-container" *ngIf="details.length > 0; else noDetails">
  <article class="header">
    <ul>
      <li class="larger-content content">Bursar Full Name</li>
      <li class="content">Date of Commencement</li>
      <li class="content">Bursary Amount</li>
    </ul>
  </article>

  <section class="bursary-details">
    <ul class="detail">
      <li *ngFor="let detail of details; let last = last" class="detail">
        <section
          class="detail-row"
          
        >
          <section class="detail-container">
            <p class="content larger-content">{{ detail.fullName }}</p>
            <p class="content">{{ formatDate(detail.date) }}</p>
            <p class="content">{{ detail.amount | customCurrency }}</p>
          </section>
          <section class="button">
            <button
              mat-flat-button
              color="accent"
              (click)="navigateToDetailsPage(detail.applicationGuid)"
            >
              View
            </button>
          </section>
        </section>

        <section class="mobile-view">
          <section class="details-section">
            <p class="content">
              <span>Bursar Full Name:</span> {{ detail.fullName }}
            </p>
            <p class="content">
              <span>Date of Commencement:</span> {{ formatDate(detail.date) }}
            </p>
            <p class="content">
              <span>Bursary Amount: </span>{{ detail.amount | customCurrency }}
            </p>
          </section>
          <section class="button-mobile">
            <button
              mat-stroked-button
              color="primary"
              (click)="navigateToDetailsPage(detail.applicationGuid)"
            >
              View
            </button>
          </section>
        </section>
      </li>
    </ul>
  </section>
</main>
<section class="error-text-container">
  <ng-template #noDetails>
    <p class="error-text">{{ noDetailsMessage }}</p>
  </ng-template>
</section>
