.fundAllocationsPrimaryColorItems {
  color: var(--primary-color);
}

.matDialogActionButton {
  border: 1px solid var(--primary-color);
}

.enabledButton {
  color: white;
  background-color: var(--primary-color);
}

.matDialogActions {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.fundAllocationsForm {
  display: flex;
  flex-direction: column;
}

.allocateToFrom {
  font-weight: bold;
}

.allocationsMatDivider {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

.universitiesToSplitFunds {
  display: flex;
  justify-content: space-between;
}

.matDialogTitleSection {
  display: flex;
  align-items: center;
}

.matDialogTitle {
  margin: 0;
}

.matDialogTitleSectionItems {
  cursor: pointer;
}

.university {
  flex: 2;
}

.totalFundsAdded {
  flex: 1;
}

.universitiesWithCapFunds {
  display: flex;
  flex-direction: column;
}

.matDialogMatLabel {
  margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
  .back {
    margin-bottom: 1.85rem;
  }
}

@media screen and (max-width: 524px) {
  .splitOrAdd {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 405px) {
  .splitOrAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100% ;
  }

  .splitFunds {
    margin-top: 0.5rem;
  }

  .mat-mdc-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base {
    margin-left: 0;
  }
}
