@import '../../../../theme/component-dark-theme.scss';

.side-nav-header.mat-expansion-panel-header {  
    margin-top: 0.5rem; 
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    height: 2rem;
}

.dark .side-nav-header:hover {
    background: map-get($map: $component-dark-primary-palette, $key: 200);
    border-radius: 10%;
}

.inner-section.mdc-list-item {
    height: 1.6rem;
}

::ng-deep .side-nav-header .mat-expansion-indicator.ng-trigger.ng-trigger-indicatorRotate::after {
    color: map-get(map-get($map: $component-dark-accent-palette, $key: contrast), $key: 50);
    width: 0.15rem; 
    height: 0.15rem; 
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -80%) rotate(45deg);
}

::ng-deep .dark .side-nav-header .mat-expansion-indicator.ng-trigger.ng-trigger-indicatorRotate::after {
    color: map-get($map: $component-dark-accent-palette, $key: 50);
}

.side-nav-panel {
    background: none;
}

.side-nav-panel:not(.mat-expanded) .inner-section {
    visibility: hidden;
    animation-duration: 0.7s !important;
}

.selected-list{
    margin: auto 1rem;
    background: map-get($map: $component-dark-accent-palette, $key: 300);
    border-radius: 0.6rem;
}

.selected-list.dark {
    background: map-get($map: $component-dark-primary-palette, $key: 200);
}

:host .mdc-list{
    padding: 0rem;
}

.default-list{
    margin: auto 1rem;
}

.inner-section{
    font-size: 9pt; 
    text-decoration: none;
    cursor: pointer;

    height: 1.6rem;
}

.menu-sections-text {
    font-weight: bold;
}

.mat-expansion-panel.side-nav-panel:not(.mat-expanded) .mat-expansion-panel-header.side-nav-header {
    background: none;
}

@media (max-width: 600px) {
    .side-nav-header.mat-expansion-panel-header {
        font-size: small;
    }

    .inner-section{
        font-size: x-small;
    }

    ::ng-deep .side-nav-header .mat-expansion-indicator.ng-trigger.ng-trigger-indicatorRotate::after {
        width: 0.1rem; 
        height: 0.1rem; 
    }
}
