<mat-nav-list
  class="side-nav-menu-list"
  [ngClass]="{
    'selected-list' : isExpanded(),
    'default-list text-hover' : !isExpanded(),
    'dark': isDark,
  }"
>
    <mat-expansion-panel 
      (opened)="isExpanded.set(true)" 
      (closed)="isExpanded.set(false)"
      class="side-nav-panel"
    >
      <mat-expansion-panel-header
        [ngClass]="!isExpanded ? 'expansion-panel' : ''"
        class="side-nav-header"
      >
        <mat-panel-header 
          *ngIf="isExpanded" 
          class="menu-sections-text section-text"
          [ngClass]="{'dark': isDark}"
        > 
          {{ navTitle }}
        </mat-panel-header>
      </mat-expansion-panel-header>
      <mat-list *ngFor="let sections of isExpanded() ? dropdownData : []" class="sidenav-section">
        <mat-list-item
          class="inner-section"
          *ngFor="let subsection of sections.links"
        >
          <a
            [routerLink]="subsection.route"
            [queryParams]="subsection?.queryParams"
            class="inner-section section-text"
            [ngClass]="{'dark': isDark}"
          >
            {{ subsection.name }}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-nav-list>
