<main class="landing-screen" >
    <img
    class="background-image"
    [src]="backgroundImageUrl"
    alt="Background"
  />
  <section class="content" *ngIf="bursaryFunds&&bursaryFunds.length ; else noBursaryFunds">
    <h1>Bursary funds</h1>
    <section class="bursary-funds-grid" >
      <app-bursary-fund-card *ngFor="let fund of bursaryFunds" [fund]="fund" ></app-bursary-fund-card>
    </section>

    <section class="bursary-reporting-wrapper" >
      <app-bursary-reporting 
        [fundSpending]="fundSpending" 
        [universitySpending]="universitySpending"
        [fundSpendingTotal]="fundSpendingTotal"
        [universitySpendingTotal]="universitySpendingTotal"
      ></app-bursary-reporting>
    </section>

  </section>

  <ng-template #noBursaryFunds class="no-bursary-funds">
  </ng-template>
</main>