.fundAllocationMatCard {
  margin: 1rem 0.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
}

.fundAllocation {
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.addToAllocationButton {
  max-width: 2%;
  border: 1px solid var(--primary-color);
  color: white;
}

.moreVertIcon {
  margin: 0;
  color: var(--primary-color);
}

.totalAmountAllocated {
  font-weight: bold;
}

.allocationOption {
  width: 90%;
  margin: 0 0.5rem;
  justify-content: flex-start;
}

.totalFundAllocation {
  flex-direction: column;
} 

.fundDetails {
  flex-wrap: wrap;
}

.flexContainer {
  display: flex;
}
.vertical-divider{
  background-color: var(--primary-color);
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {

  .totalFundAllocation,
  .addToAllocationButton {
    flex: 2 1 50%;
  }

  .fundAllocation {
    flex-wrap: wrap;
  }

  .total {
    margin-right: 0.5rem;
  }
  .vertical-divider{
    display: none;
  }
}
