<section [matMenuTriggerFor]="menu" class="menu">
  <a
    [ngClass]="{
      'white-label': isHomeRoute() || darkNavBar(),
      'black-label': !(isHomeRoute() || darkNavBar())
    }"
    class="label"
  >
    {{ label }}
  </a>
  <p class="bursary-funds-arrow-container">
    <mat-icon class="bursary-funds-arrow"> expand_more </mat-icon>
  </p>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <ng-container
        *ngIf="
          isLoading && userRole && userRole == currentUserRole;
          else menuItemsContent
        "
      >
        <mat-spinner diameter="24"></mat-spinner>
      </ng-container>
      <ng-template #menuItemsContent>
        <ng-container *ngFor="let item of getMenuItems(); trackBy: trackByFn">
          <button mat-menu-item (click)="navigate(item.route)">
            {{ item.label }}
          </button>
        </ng-container>
      </ng-template>
    </ng-template>
  </mat-menu>
</section>
