.dialog-content {
  padding-top: 0.6rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  & {
    gap: 2rem;
  }

  mat-dialog-container.mat-mdc-dialog-container {
    width: 10%;
  }
}

.matDialogTitle {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.matDialogActions {
  padding: 0 2.5rem 2.3rem 2.5rem;
  justify-content: space-between;
}