.bursar-tier-container {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  margin: 1rem 0;

  .tier-heading {
    margin: 0;
  }
}

.disabled-row {
  background-color: #f0f0f0;
  pointer-events: none;
}

.bold-header {
  font-weight: bold;
}

.panel-body-wrapper {
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.panel-body-wrapper.hidden {
  height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}
