@use "@angular/material" as mat;
@use "./theme/bbd" as bbd;
@use "./theme/admin.scss" as admin;
@use "./theme/ukukhula" as ukukhula;
@use "./theme/dark-theme" as dark;
@use "./theme/component-dark-theme.scss" as component_dark;
@use "./theme/common-variables" as common_vars;

$custom-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

button.mat-mdc-unelevated-button {
  min-width: 6rem;
}

button.mat-accent {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.mat-app-background {
  background-color: white;
}
.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #282728;
}

h1,
h2 {
  font-weight: bold !important;
}
.mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-label {
  width: auto !important;
}

//it applies to bold tabs
.mat-mdc-tab .mdc-tab__text-label {
  font-weight: 900;
}

.consolidated-tab-label .mat-mdc-tab .mdc-tab__text-label {
  font-weight: lighter;
  font-size: large;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}
body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.error-text-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
mat-expansion-panel {
  display: contents !important;
}
.divider {
  background-color: var(--primary-color);
  padding-left: 1rem;
}

:root {
  --background-color: #e1ebfb80;
  --background-dark-color: #292b2f80;
  --warn-dark-color: #ffa38d;
  --warn-color: #c80000;

  --shade-one: #584ee4;
  --shade-two: #9b94ff;
  --shade-three: #39339B;
  --shade-four: #25225E;
  --primary-background: #ffffff
}


$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(dark.$dark-primary-palette),
      accent: mat.define-palette(dark.$dark-accent-palette),
      warn: mat.define-palette(dark.$dark-warn-palette),
    ),
    typography: $custom-typography,
    density: -1
  )
);

$component-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(component_dark.$component-dark-primary-palette),
      accent: mat.define-palette(component_dark.$component-dark-accent-palette),
    ),
    typography: $custom-typography,
    density: -1
  )
);

$ukukhula-light-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette(ukukhula.$ukukhula-light-primary-palette),
        accent: mat.define-palette(common_vars.$custom-light-accent-palette),
        warn: mat.define-palette(common_vars.$custom-light-warn-palette),
      ),
      typography: $custom-typography,
      density: -1
    )
);

$bbd-light-theme: mat.define-light-theme(
      (
        color: (
          primary: mat.define-palette(bbd.$bbd-light-primary-palette),
          accent: mat.define-palette(common_vars.$custom-light-accent-palette),
          warn: mat.define-palette(common_vars.$custom-light-warn-palette),
        ),
        typography: $custom-typography,
        density: -1
      )
);

$admin-light-theme: mat.define-light-theme(
      (
        color: (
          primary: mat.define-palette(admin.$admin-light-primary-palette),
          accent: mat.define-palette(common_vars.$custom-light-accent-palette),
          warn: mat.define-palette(common_vars.$custom-light-warn-palette),
        ),
        typography: $custom-typography,
        density: -1
      )
);

.ukukhula {
  --primary-color: #2a967a;
  --accent-color: #7bafb2;

  --primary-dark-color: #c1cae5;
  --accent-dark-color: #005150;
  @include mat.all-component-colors($ukukhula-light-theme);
}

.bbd-bursar {
  --primary-color: #ec3333;
  --accent-color: #ea5b5b;

  --primary-dark-color: #ffa38d; 
  --accent-dark-color: #c80000;
  @include mat.all-component-colors($bbd-light-theme);
}

.admin-theme {
  --primary-color: #4E44DB;
  --accent-color: #7B73EB;

  --primary-dark-color: #B7B3F4; 
  --accent-dark-color: #2F2A7C;
  @include mat.all-component-colors($admin-light-theme);
}

.dark-mode {
  @include mat.all-component-colors($custom-dark-theme);
}

.component {
  @include mat.all-component-colors($component-dark-theme);
}

@include mat.all-component-densities($ukukhula-light-theme);
@include mat.all-component-typographies($ukukhula-light-theme);