.maximumAllocationAlert {
  color: var(--primary-color);
}

.allocate-funds-first-paragraph {
  margin: 0;
}

.allocate-funds-second-paragraph {
  margin-bottom: 2rem;
}

.candidatesSection {
  padding: 1.25rem 0 0 0;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.allocateFundsHeading {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.candidateName {
  font-weight: 800;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 6.5rem;
}

.allocateFundsForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem 0;
}

.allocateFundsFormTopSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.divider {
  border-top-color: var(--primary-color);
  padding: 0;
  background-color: transparent;
}

.matFormField {
  flex-basis: 45rem;
  background-color: white;
  display: flex;
}

.errors {
  color: var(--warn-color);
}

.inputAndError {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 45rem;
}

.mat-label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.alloctionInput {
  margin-left: 0.5rem;
  padding-top: 0.05rem;
}
.allocationForm{
  width: 100%;
}

@media screen and (max-width: 550px) {
  .allocateFundsForm {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .candidatesMainContainer {
    padding: 0 0 10% 0;
  }
}

@media screen and (max-width: 340px) {
  .candidatesMainContainer {
    padding: 0.75rem 5%;
  }
}
