<main>
  <mat-toolbar
    class="mat-elevation-z8 nav-bar"
    [ngClass]="{ 'dark-nav-bar': darkNavBar() }"
  >
    <mat-toolbar-row class="shadow">
      <img
        [src]="getLogo()"
        alt="Logo"
        class="logo"
        (click)="navigateHome()"
        *ngIf="!successScreenRoute(); else successLogo"
      />
      <ng-template #successLogo>
        <img
          [src]="getLogo()"
          alt="Logo"
          class="reviews-logo"
        />
      </ng-template>
      <article
        *ngIf="!successScreenRoute()"
        [ngClass]="{
          'menu-content': isLoggedIn,
          'not-loggedIn': !isLoggedIn
        }"
      >
        <ng-container
          *ngIf="(!userRole || userRole === roleEnum.HOD) && isLoggedIn"
        >
        <section  [ngClass]="{
              'white-nav-button': !darkNavBar() && !successScreenRoute(),
              'button-container': darkNavBar() && !successScreenRoute()
            }">
            <ng-container *ngIf="enableRenewApplication(); else showNewApplication">
              
              <a class="button" [matMenuTriggerFor]="appMenu"> New application </a>
              <p class="bursary-funds-arrow-container">
                <mat-icon class="bursary-funds-arrow"> expand_more </mat-icon>
              </p>

              <mat-menu #appMenu="matMenu">
                <button mat-menu-item routerLink="/application">
                  Create new application
                </button>
                <button
                  mat-menu-item
                  routerLink="/Renew"
                  (click)="navigateToRenewApplication()"
                >
                  Renew application
                </button>
              </mat-menu>
            </ng-container>

            <ng-template #showNewApplication>
              <a class="button" routerLink="/application"> New application </a>
            </ng-template>
          </section>
			    <section class="mat-menu">
            <app-shared-menu
              [isLoggedIn]="isLoggedIn"
              [userRole]="userRole"
              [label]="'Bursaries & applications'"
            ></app-shared-menu>
          </section>
        </ng-container>
        <ng-container *ngIf="userRole === roleEnum.dean" class="nav-container">
          <section
            [ngClass]="{
              'white-nav-button': !darkNavBar(),
              'button-container': darkNavBar()
            }"
          >
            <app-shared-menu
              [isLoggedIn]="isLoggedIn"
              [userRole]="userRole"
              [label]="'My departments'"
              [userDetails]="userDetails"
            ></app-shared-menu>
            <section class="mat-menu">
              <a
                routerLink="/dashboard"
                (click)="navigate('/dashboard/profiles')"
                class="button"
                >Profile management</a
              >
              <a
                routerLink="/"
                class="button"
                (click)="navigate('/dashboard/funds')"
                >My funding</a
              >
            </section>
          </section>
        </ng-container>
        <ng-container
          *ngIf="isLoggedIn && userRole === roleEnum.student"
          class="nav-container"
        >
          <section
            [ngClass]="{
              'white-nav-button': !darkNavBar(),
              'button-container': darkNavBar()
            }"
          >
            <a
              routerLink="/student"
              (click)="navigate('/application/student/bursaryInformation')"
              class="button"
              >My bursaries</a
            >
            <a
              routerLink="/student"
              (click)="navigate('/application/student/details')"
              class="button"
              >My details</a
            >
            <a
              routerLink="/student"
              (click)="navigate('/application/student/documents')"
              class="button"
              >My documents</a
            >
            <a
              routerLink="/student"
              (click)="navigate('application/student/events')"
              class="button"
              >My events</a
            >
          </section>
        </ng-container>
        <ng-container
          *ngIf="administrativeRoles.includes(userRole)"
          class="nav-container"
        >
          <section
            [ngClass]="{
              'white-nav-button': !darkNavBar(),
              'button-container': darkNavBar()
            }"
          >
            <app-shared-menu
              [isLoggedIn]="isLoggedIn"
              [userRole]="userRole"
              [label]="'Ukukhula Bursary Fund'"
            ></app-shared-menu>
            <section class="mat-menu">
              <a
                routerLink="/admin/fundAllocations"
                >Fund allocations</a
              >
            </section>
          </section>
        </ng-container>
        <section
          class="funds-menu-container"
          [ngClass]="{
            'button-container':
              darkNavBar() &&
              !successScreenRoute() &&
              !url.includes('upload-transcript'),
            'white-nav-button': !darkNavBar() && !successScreenRoute()
          }"
        >
          <a
            *ngIf="
              isLoggedIn &&
              !successScreenRoute() &&
              !url.includes('upload-transcript')
            "
            (click)="logout()"
          >
            Log out
          </a>
          <a
            *ngIf="
              !isLoggedIn &&
              !successScreenRoute() &&
              !url.includes('upload-transcript')
            "
            (click)="login()"
          >
            Login
          </a>
        </section>
      </article>
      <button
        mat-icon-button
        class="menu-icon"
        [matMenuTriggerFor]="menu"
        *ngIf="!url.includes('upload-transcript')"
      >
        <mat-icon
          *ngIf="!successScreenRoute() && !url.includes('upload-transcript')"
          >menu</mat-icon
        >
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #menu="matMenu" class="mobile-menu" color="primary">
    <section
      *ngIf="
        isLoggedIn &&
        !successScreenRoute() &&
        !url.includes('upload-transcript')
      "
    >
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <a mat-button>Home</a>
      </button>
      <ng-container
        *ngIf="(!userRole || userRole === roleEnum.HOD) && isLoggedIn"
      >
        <button mat-menu-item routerLink="/application">
          <mat-icon>create</mat-icon>
          <a mat-button>Create new application</a>
        </button>
        <button mat-menu-item routerLink="/application/renew">
          <mat-icon>autorenew</mat-icon>
          <a mat-button>Renew application</a>
        </button>
        <button mat-menu-item routerLink="dashboard/bursaries">
          <mat-icon>business_center</mat-icon>
          <a mat-button>My bursaries</a>
        </button>
      </ng-container>
      <ng-container *ngIf="administrativeRoles.includes(userRole)">
        <button mat-menu-item routerLink="/admin/dashboard">
          <mat-icon>border_color</mat-icon>
          <a mat-button>Active bursaries & Applications</a>
        </button>
        <button mat-menu-item (click)="navigate('/admin/profiles')">
          <mat-icon>person</mat-icon>
          <a mat-button>Profile management</a>
        </button>
        <button mat-menu-item (click)="navigate('/admin/nudgeStudents')">
          <mat-icon>pending_actions</mat-icon>
          <a mat-button>Nudge students</a>
        </button>
        <button mat-menu-item (click)="navigate('/admin/declinedApplications')">
          <mat-icon>block</mat-icon>
          <a mat-button>Declined applications</a>
        </button>
        <button
          mat-menu-item
          routerLink="/admin/fundAllocations"
        >
          <mat-icon>border_color</mat-icon>
          <a mat-button>Fund Allocations</a>
        </button>
        <button
          mat-menu-item
          (click)="navigate('/admin/reports')"
        >
          <mat-icon>bar_chart</mat-icon>
          <a mat-button>Reports</a>
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn && userRole === roleEnum.dean">
        <button mat-menu-item [matMenuTriggerFor]="departmentsMenu">
          <mat-icon>dashboard</mat-icon>
          <span>My Department</span>
        </button>
        <mat-menu
          #departmentsMenu="matMenu"
          [overlapTrigger]="false"
          xPosition="before"
          yPosition="above"
        >
          <section *ngFor="let department of menuItems">
            <button
              mat-menu-item
              routerLink="/dean"
              (click)="
                navigate(
                  '/dashboard/departments' + department.universityDepartmentName
                )
              "
            >
              {{ department.universityDepartmentName }}
            </button>
          </section>
        </mat-menu>
        <button
          mat-menu-item
          routerLink="/dean"
          (click)="navigate('/dashboard/profiles')"
        >
          <mat-icon>person</mat-icon>
          <a mat-button>Profile management</a>
        </button>
        <button
          mat-menu-item
          routerLink="/dean"
          (click)="navigate('/dashboard/funds')"
        >
          <mat-icon>account_balance_wallet</mat-icon>
          <a mat-button>My funding</a>
        </button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn && userRole === roleEnum.student">
        <button
          mat-menu-item
          routerLink="/student"
          (click)="navigate('/application/student/bursaryInformation')"
        >
          <mat-icon>business_center</mat-icon>
          <a mat-button>My bursary</a>
        </button>
        <button
          mat-menu-item
          routerLink="/student"
          (click)="navigate('/application/student/details')"
        >
          <mat-icon>person</mat-icon>
          <a mat-button>My details</a>
        </button>
        <button
          mat-menu-item
          routerLink="/student"
          (click)="navigate('/application/student/documents')"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <a mat-button>My documents</a>
        </button>
        <button
          mat-menu-item
          routerLink="/student"
          (click)="navigate('application/student/events')"
        >
          <mat-icon>event</mat-icon>
          <a mat-button>My events</a>
        </button>
      </ng-container>
      <button *ngIf="!isLoggedIn" mat-menu-item (click)="login()">
        <mat-icon>login</mat-icon>
        <a mat-button>Login</a>
      </button>
    </section>
    <button
      *ngIf="isLoggedIn && !successScreenRoute()"
      mat-menu-item
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
      <a mat-button>Log out</a>
    </button>
    <button *ngIf="!isLoggedIn" mat-menu-item (click)="login()">
      <mat-icon>login</mat-icon>
      <a mat-button>Login</a>
    </button>
  </mat-menu>
  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
</main>
<app-loader></app-loader>
