<main class="details-container">
  <section class="universityName-container">
    <section>
      <section class="table-container">
        <section>
          <table class="custom-table">
            <thead *ngIf="index ==0">
              <tr >
                <th>Bursar Full Name</th>
                <th>Bursary Amount</th>
                <th *ngIf="currentTab === 'In review' && userRank!==ranksEnum.assistant_admin && userRole===rolesEnum.admin">Approver</th>
                <th *ngIf="(currentTab=== 'In review' || currentTab === 'Invoice'&& userRole===rolesEnum.admin) ">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr [ngStyle]="{'border-bottom': (applicationArrayLength - 1 === index) ? 'none' : '1px solid primary'}">
                <td data-label="Bursar Full Name" >
                 <p class="center-text" >{{ application.fullName }}</p>
                </td>
                <td data-label="Bursary Amount">  {{ application.amount | customCurrency }} </td>
                <td *ngIf="currentTab === 'In review'&& !(userRank===ranksEnum.assistant_admin)">
                  {{application.approverName || getCurrentStatus()}}
                  </td>
                  <td  [ngClass]="{'warn-invoice': showInvoiceWarning()}"  *ngIf="(currentTab === 'In review' || currentTab === 'Invoice') && userRole===rolesEnum.admin">
                    {{application.changeRequested ? application.changeRequested : (getCurrentStatus() === 'Invalid' ? 'Invoice in review' : getCurrentStatus()) }}
                  </td>

                <td>
                  <section
                    class="button-container"
                    *ngIf="currentTab !== 'Contract'"
                    >

                    <button
                      mat-flat-button
                      color="accent"
                      *ngIf="
                        application.applicationId !== -1 &&
                        currentTab == 'In review' &&
                        showNudgeButton"
                      (click)="resendExecutiveEmail()"
                    >
                    Nudge Executive
                    </button>

                    <button
                      mat-flat-button
                      color="accent"
                      *ngIf="
                        application.applicationId !== -1 &&
                        currentTab !== 'Fund spread' &&
                        currentTab !== 'Email Failed' &&
                        currentTab !== 'Contract'
                      "
                      (click)="navigateToDetailsPage(application.applicationGuid)"
                    >
                      View {{ moreDetails }}
                    </button>

                    <button
                      mat-flat-button
                      color="accent"
                      *ngIf="
                        application.applicationId !== -1 &&
                        currentTab == 'Email Failed'
                      "
                      (click)="navigateToEmailFailed(application.applicationGuid)"
                    >
                      View
                    </button>
                    <button
                      mat-flat-button
                      color="primary"
                      class="upload-button"
                      *ngIf="currentTab === 'Invoice' && showUploadFilesButton()&& !isAwaitingFundDistribution()"
                      (click)="openAdminFileUploadDialog()"
                    >
                    {{ userRank === ranksEnum.assistant_admin  ? " Upload invoice/s" : "View invoice/s"}}
                    </button>
                    <button
                      mat-flat-button
                      color="primary"
                      class="upload-button"
                      *ngIf="isAwaitingFundDistribution()"
                      (click)="spreadFundsDialog(application.applicationId)"
                    >
                      Distribute funds
                    </button>
                    <button
                      mat-flat-button
                      color="primary"
                      class="upload-button"
                      *ngIf="currentTab === 'Payment' && userRole===rolesEnum.admin"
                      (click)="openAdminFileUploadDialog()"
                    >
                      Upload payment/s
                    </button>
                  </section>
                  <section *ngIf="currentTab == 'Contract'" class="contract-button">
                    <button
                      mat-flat-button
                      color="accent"
                      class="view-button"
                      *ngIf="
                        application.applicationId !== -1 && currentTab == 'Contract'
                      "
                      (click)="navigateToDetailsPage(application.applicationGuid)"
                    >
                      View details
                    </button>
                    <button
                      mat-flat-button
                      color="primary"
                      *ngIf="this.getCurrentStatus() === 'Awaiting Fund Distribution' || !isFundSpread"
                      (click)="spreadFundsDialog(application.applicationId)"
                    >
                      Distribute funds
                    </button>
                    <button
                      mat-flat-button
                      color="primary"
                      *ngIf="this.getCurrentStatus() === 'Contract' || isFundSpread"
                      (click)="confirmAction()"
                    >
                      Upload contract
                    </button>
                  </section>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </section>
</main>
