.upload-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.student-documents-container{
    padding:1rem
}
.contract{
    margin-top: 0.5rem;
}