<main class="events-page">
    <h1 class="page-heading">Events</h1>
    <section class="search-section">
        <mat-form-field
          class="search-box"
          appearance="outline"
          subscriptSizing="dynamic"
          floatLabel="always">
          <mat-icon matSuffix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input
            #searchInput
            [value]="getCurrentSearch()"
            (input)="search({searchTerm: searchInput.value, searchType: 'eventName'})"
            matInput
            type="text"
            placeholder="Search"/>
        </mat-form-field>
        <section class="filters-section" *ngIf="userRole === Roles.admin">
          <mat-form-field
            class="search-box"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Event Type</mat-label>
            <mat-select
              [(value)]="selectedEventType"
              (selectionChange)="search({searchTerm: $event.value, searchType: 'eventType'})"
            >
              <mat-option *ngFor="let eventType of eventTypeOptions" [value]="eventType">{{
                eventType
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="search-box"
            appearance="outline"
            subscriptSizing="dynamic"
          >
            <mat-label>Filter by year</mat-label>
            <mat-select
              [(value)]="selectedDate"
              (selectionChange)="filterActiveApplicationsByDate($event)"
            >
              <mat-option *ngFor="let date of dateOptions" [value]="date">{{
                date
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
      </section>
      <article
        class="events"
        *ngIf="!isLoading"
        [ngClass]="{ 'student-events': userRole === Roles.student }"
      >
        <section *ngFor="let event of events" id="events-section" class="event">
        <app-event-summary
            [event]="event"
            [year]="selectedDate"
            [userRole]="userRole"
        ></app-event-summary>
        </section>
        <section class="error-text-container" *ngIf="(!events || events.length === 0) && !isLoading">
        <app-error-message
            [errorMessage]="noEventErrorMessage"
        ></app-error-message>
        </section>
    </article>
</main>

<app-loader></app-loader>
