.slogan {
  margin: 1rem 0 0 1rem;
  font-size: medium;
}

p {
  color: white;
  text-align: left;
}

.contents-container {
  width: 100%;
  margin-left: 10%;
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contents {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 20rem;
}

.contents-about {
  color: white;
  margin: 0 0.5rem;
  text-align: left;
  font-size: large;
}
.student-contents-container{
  width: 100%;
  max-width: 90%;
  margin-left: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.student-contents {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  max-width: 20rem;
}
.student-contents .slogan{
  padding: 0;
}
.bursary-information-container{
  width: 100%;
}

.login-button {
  font-size: large;
  font-weight: lighter;
  width: 6.2rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  margin: 10% 0 0 5%;
  background-color: var(--primary-color);
  color: white;
}

@media screen and (max-width: 1024px) {
  .student-contents{
    display: none;
  }
  .bursary-information-container{
    
  margin-top: 1rem;
  }
  .student-contents-container{
    height: calc(100vh - var(--mat-toolbar-mobile-height));
    width: 100%;
    margin: 0 1rem;
  }
}