<mat-form-field appearance="outline" subscriptSizing="dynamic" class="time-input" >
  <mat-label>Select Time</mat-label>
  <input
    matInput
    [value]="timeControl.value"
    [formControl]="timeControl"
    [matMenuTriggerFor]="timeMenu"
    readonly
  >
  <mat-icon matPrefix class="material-symbols-outlined">schedule</mat-icon>
  <mat-error
    *ngIf=
      "timeControl?.hasError('required') &&
         timeControl?.touched"
  >
    {{ eventMessages.TIME_REQUIRED }}
  </mat-error>
  <mat-error
    class="matError"
    *ngIf="timeControl.hasError('endTimeAfterStartTime')"
  >
    {{ eventMessages.END_BEFORE_START_TIME }}
  </mat-error>
  <mat-error
    class="matError"
    *ngIf="timeControl.hasError('timeInPast')"
  >
    {{ eventMessages.PAST_START_TIME }}
  </mat-error>
</mat-form-field>

<mat-menu #timeMenu="matMenu" class="time-picker-menu">
  <section class="time-options">
    <button mat-button class="time-button" *ngFor="let time of timeOptions" (click)="selectTime(time)">
      {{ time }}
    </button>
  </section>
</mat-menu>
